.analytic-page {
    background-color: var(--primary-bg-color);
    height: 100vh !important;
    width: 100%;
   

    .analytic {
        margin-left: 230px;
        height: calc(100vh - 70px) !important;
        overflow-y: auto;
        overflow-x: hidden;
        background-color: var(--bg-main-color);
      

        // #scrollTop {
        //     margin-top: 55px !important;

        // }

       

    }

    
}

.analytic 
{
    .anc-charts{
        border: transparent !important;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .newcolumntab .card{
        background-color: transparent !important;
        border: transparent !important;
    }

    .newcolumntab.grey-newborder .card{
        border: 1px solid var(--border-grey-color) !important;
    }

    .card-header:first-child,
    .card-footer:last-child{
        background-color: transparent !important;
        border: transparent !important;
        color: var(--text-color) !important;
    }

    #input_tab_content_commoditiesToClients .card{
        border-right: 1px solid var(--primary-bg-color) !important;
    }

    .page-item.disabled .page-link{
        background-color: var(--primary-bg-color) !important;
        border-color: var(--primary-bg-color) !important;
    }
}

// responsive css

@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
    .analytic-page {
        .analytic {
            margin-left: 0;
            margin-top : 2px;
            height     : calc(100vh - 61px) !important;
            overflow-x : hidden;
        }
    }

    .summary {
        margin-left: 0px !important;

    }
}

@media (min-width: 1366px) {
    .analytic-page {
        .analytic {
            // margin-left: 250px;
            margin-top : 5px;
        }

     

    }

    .d2-header .analytic-page .summary-dqr{
        padding-top: 0% !important;
    }

    .summary,
    .anc {
        margin-left  : 250px !important;
        // margin-top: 5px;
    }
}

@media (min-width: 1536px) {
    .analytic-page {
        .analytic {
            margin-left: 250px;
            margin-top : 5px;
        }

    }

    .summary,
    .anc {
        margin-left: 250px !important;
        margin-top : 5px;
    }
}

@media (min-width: 1920px) {
    .analytic-page {
        .analytic {
            margin-left: 306px;
            margin-top : 5px;
        }

    }

    .summary,
    .anc {
        margin-left: 306px !important;
        margin-top : 5px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation:landscape) and (-webkit-min-device-pixel-ratio: 1) {
    .analytic-page .analytic {
        margin-left: 0;
        height     : 100vh;
        margin-top : 2px;
    }
}
