#modal-anc{

    padding-top: 12%;
    background-color: var(--bg-main-color) !important;
    
    .modal-title {
        font-size: var(--font-size-sub-heading);
    }

    .modal-header {
        border-bottom: 1px solid var(--modal-header-color);

        .close {
            color: var(--text-color);
        }
    }

    .modal-content {
        background-color: var(--bg-main-color) !important;
        color           : var(--fonts-white-shade);
        border-right: 1px solid transparent !important;
        border-radius: 0 !important;

        .table-heading {

            p {
                font-size : var(--font-size-p-small-text);
                color     : var(--fonts-white-shade);
                text-align: left;
            }

        }

        .tablemap-col1 {
            height    : calc(100vh - 160px);
            overflow-y: auto;

        }

        .tablemap-col2 {
            height     : calc(100vh - 160px);
            overflow-y : auto;
            border-left: 1px solid var(--border-color);

            .trendschart {
                border-bottom: 1px solid var(--border-color);
            }
        }

        .anc-map {
            border-top: 1px solid var(--border-color);

            .map-header {
                display        : flex;
                align-items    : center;
                justify-content: space-between;
                color          : var(--fonts-white-shade);

                .map-title {
                    font-size     : var(--font-size-p-normal-text);
                    text-transform: uppercase;
                    color         : var(--fonts-white-shade);
                }

                .download-img {
                    width: 15px;
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .modal-footer {
        display: none !important;
    }

    .anchor-map {
        .l-map {
            height          : calc(100vh - 402px);
            background-color: transparent;

            .leaflet-right .leaflet-control {
                margin-right: 0;

                .leaflet-control-zoom-out {

                    margin-top: 10px !important;
                }
            }

            .leaflet-top .leaflet-control {
                margin-top: 7px !important;
            }

            .leaflet-bar a {
                background-color: var(--map-elements-bg-color) !important;
                color           : var(--fonts-white-shade);
                border-bottom   : none;
                width           : 25px;
                height          : 25px;
            }

            .leaflet-control-fullscreen a {
                background-size: 16px 16px !important;
                background-position: center !important;
                // padding-right: 29px;
                // padding-bottom: 29px;
                // padding-left: 0px;
                background     :  url(../images/icons/map-full.png) no-repeat 0 0 !important;
                background-color: var(--sidebar-main-active-color) !important;
            }

            #legend {
                background-color: var(--chart-container-color);
                padding         : 5px;
                border-radius   : 10px;
                color: var(--innertext-font-color) !important;
                width: 100%;
                position: relative;

                .toggleLegend {
                    // padding-bottom: 3px;
                    border-bottom : 1px solid var(--border-color);
                    width: 100%;
                    position: relative;
                    padding: 4px 8px;
                    border-radius: 6px
                   
                }
               
                .descVal {
                    &:hover {
                        cursor          : pointer;
                        background-color: transparent;
                    }

                    .mapInputBox {

                        background-color: transparent;
                        border          : 0;
                        width           : 20px;
                        height          : 20px;
                        border-radius   : 50% !important;
                    }

                }


            }

          
            .mapactionbtn {
                width           : 25px;
                height          : 25px;
                border-radius   : 2px;
                right           : 0px;
                padding         : 7px 10px;
                background-color: var(--map-elements-bg-color);
                position: absolute;
                top: 0;
                -webkit-box-shadow: none !important;
                box-shadow: none !important;
                //padding: 4px 8px;
                border: 0px solid var(--color-white);
                // color: var(--color-black) !important;
                

                i {
                    color   : var(--fonts-white-shade);
                    position: relative;
                    top     : -3px;
                    right   : 2px;
                }

            }

            .play-content {

                .btn {
                    background-color: var(--map-elements-bg-color);
                    border          : 0;
                }

                .btn-group {
                    height: 30px;
                    width : 300px;
                }

                .btn-group>.btn:first-child {
                    border-top-left-radius   : 20px;
                    border-bottom-left-radius: 20px;
                    border-right             : 2px solid var(--color-white) !important;
                    width                    : 30px;
                }

                .btn-group>.btn:nth-child(2) {
                    border-right: 1px solid var(--color-white) !important;
                    width       : 30px;
                }

                .btn-group>.btn:nth-child(3) {
                    border-left: 1px solid var(--color-white) !important;
                    width      : 30px;
                }

                .btn-group>.btn:last-child {
                    border-top-right-radius   : 20px;
                    border-bottom-right-radius: 20px;
                    border-left               : 1px solid var(--color-white);
                    width                     : 79px;
                }

                .form-group #selectYear {
                    background-color: var(--chart-body-color);
                    border          : 0;
                    border-radius   : 15px;
                    padding         : 0px 10px 0 7px !important;
                    color: var(--innertext-font-color) !important;

                }

                .select-wrapper:after {
                    display: none !important;
                }

               
            }

            
    .mapDivLegend {
        background-color: var(--chart-container-color);
        width: 110px;
        position: relative !important;
        bottom: 0px;
        left: 1px;
        height: 100%;
        //background: rgb(24 23 54);
        color:  var(--color-black)  !important;
        max-height: 174px;
        overflow: hidden;
        overflow-y: auto;
        border-radius: 0;

        
        .low-high {
            color: var(--fonts-white-shade);
        }
      }
      
      .mapDivLegend ul {
        list-style: none;
        padding-left: 0;
        // margin-top: 3%;
        margin-bottom: 2%;
      }
      .mapDivLegend li a {
        padding-left: 3%;
        padding-right: 3%;
        color:  var(--color-black) ;
        font-size: var(--font-size-map-legend);
        
      }
     
      .leaflet-control {
        cursor: pointer;
      }
      
      
      .leaflet-left .leaflet-control-zoom {
        margin-top: 2px;
      }
      
      .leaflet-bar {
        -webkit-box-shadow: none !important;
        box-shadow:none !important;
        border-radius: 4px;
        border: 0px;
      }
      .leaflet-bar {
        -webkit-box-shadow:none !important;
        box-shadow:none !important;
        border-radius: 4px;
      }


   }
        }


        p {
            font-size: 0.9rem;
        }
                    

             
}

#modal-anc___BV_modal_outer_ {
	z-index: 9999 !important;
}



#modal-newanc {

    
          
    .border-modal {
        border: 1px solid var(--border-grey-color) !important;
        border-radius: 5px;
        padding: 1.2rem;
        height: 580px;
        overflow-y: auto;
    }

    .border-map{
        border: 1px solid var(--border-grey-color) !important;
        padding: 1.2rem;
        border-radius: 5px;
        height: 580px;
        overflow-y: auto;
    }

    .border-greyright{
       border: 1px solid var(--border-grey-color) !important;
       border-radius: 5px;
       height: 515px;
         overflow-y: auto;

       .border-bottom{
        border-bottom: 1px solid transparent !important;
       }

       .summary-highchart1-header{
        background-color: transparent !important;
       }
    }

    

       .anchor-map{
        height: 450px !important;
     }
       .summary-highchart1-header{
        background-color: transparent !important;
       }

       #legend{
        margin-bottom: 22px;
    }   

    .modal-content{
        background-color: var(--bg-main-color) !important;
    }

    .modal-content .modal-body .btn-secondary {
        background-color: var(--sidebar-main-active-color) !important;
        border-color: var(--sidebar-main-active-color) !important;
    } 
    
    .leaflet-control .select-wrapper .form-control{
        background-color: var(--sidebar-main-active-color) !important;
        border-color: var(--sidebar-main-active-color) !important;
    }
}

.modal-newac {

   

    .border-greytheme{
        height: 98% !important;
        overflow-y: auto;
        margin-bottom: 15px !important;
    }

    .analytic-charts{
        height: 97% !important;
        overflow-y: auto;
    }

    .anc-indicatormap .anchor-map{
        height: 400px !important;
        padding-top: 20px;
    }
   
    .border-bottom
    {
        border-bottom: 1px solid transparent !important;
    }
    
    .anc-charts{
        border: 1px solid transparent !important;
    }

    .borderGrey{
        border-bottom: 1px solid transparent !important;
        border-radius: 0 !important;
       }
       .totalicons{
        bottom: 10px !important;
       }   
} 
         
.modal-title {
    font-size: var(--font-size-sub-heading);
    color: var(--main-font-color) !important;
}

.bg-map {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    font-size: var(--font-size-chart-sidebar-heading);
}


// responsive css

@media only screen and (min-width: 1920px) {

    #modal-anc .modal-dialog {
        max-width: 1100px !important;
    }
}

@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (orientation: portrait) 
and (-webkit-min-device-pixel-ratio: 1) {

    #modal-anc .modal-content .tablemap-col2 {
        height:auto;
       
    }
    #modal-anc .modal-body {
           height: 90vh;
           overflow-y: auto;
    
    }
}

// When we have added a chart in the modal (using our generic "HighChartComponentDynamic" component) and we toggle the table view, 
// the "modal-open" class is getting removed from the "body" html tag resulting the modal stops scrolling
// to handle the modal scroll we have added this hack
[data-modal-open-count="1"] .modal {
    overflow-y: auto;
}