
.ml-2 .custom-select{
    background: #4B4A69 url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23ffffff' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") right 0.75rem center/8px 10px no-repeat !important;
}

.para span{
  font-size: 0.9rem;
}

.dropdown-toggle::after{
    display: none;
}


 .leaflet-interactive{
     stroke-width: 0.5 !important;
 }
 
 .leaflet-container a {
     color: var(--text-color)!important;
 }
 
//check css
.map-container .map #dropdownmap .btn{
    word-break: break-word;
    white-space: pre-line;
    text-align: left;
}

#createModuleModal{ 
    
    .modal-header{
    background-color: var(--primary-color-button) !important;
    color: var(--text-color)!important;
    padding: 0.5rem 1rem !important;
    }
}


.chartHeight table tbody td,
.chartHeight table tbody th,
table tbody td,
table tbody th{
    background-color: var(--new-footer-color) !important;
    color: var(--text-color)!important;
}

.chartHeight table thead th,
table thead th{
    background-color: var(--new-footer-component-color) !important;
    color: var(--text-color)!important;
}

.typeDropdown{
    background-color: var(--sidebar-main-active-color) !important;
    border-color: var(--border-grey-color) !important;
    color: var(--text-color)!important;
}

.typeDropdown:hover{
    cursor: pointer;
}


/* Summary Dashboard - Data Quality Review Style Starts */

#myTabContent{ 
    

    .summarysubcardqr.offwhite-bg{
        background-color: transparent !important;
    }

    .card-body.ext_const.bg-white{
        background-color: var(--new-footer-color) !important;
        color: var(--sidebar-activecolor);
    }

    .card-body.cardFullHeight{
        // background-color: #222143 !important;
        color: var(--sidebar-activecolor);
    }

    .card-body.cardFullHeight .userName,
    .card-body.cardFullHeight .location_date,
    .card-body.cardFullHeight .sect_quest,
    .card-body.cardFullHeight .selectionName{
        color: var(--sidebar-activecolor);
    }

    
.card-body.cardFullHeight .details_cmd_card h5.userName,
.card-body.cardFullHeight .details_cmd_card h6.userName,
.card-body.cardFullHeight .details_cmd_card .location_date{
    color: var(--sidebar-activecolor);
}

.card-body.cardFullHeight .cardActive .userName,
.card-body.cardFullHeight .cardActive .location_date,
.card-body.cardFullHeight .cardActive .sect_quest,
.card-body.cardFullHeight .cardActive .selectionName{
    color: var(--text-color)!important;
}

.card-body.cardFullHeight .cardActive .actionBtn button:hover,
.card-body.cardFullHeight .cardActive .actionBtn button.active{
    color: var(--text-color)!important;
    border-bottom: 2px solid var(--text-color)!important;
}

.dqurcard-body .btn.btn-secondary{
    background-color: var(--new-footer-component-color);
    border-color: var(--new-footer-component-color);
    border-radius: 5px;
}

.details_cmd_card .card{
    background-color: var(--chart-container-color) !important;
    color: var(--sidebar-activecolor);
}

.card-body.cardFullHeight .actionBtn button:hover, .card-body.cardFullHeight .actionBtn button.active,
.card-body.cardFullHeight .actionBtn button{
    color: var(--text-color)!important;
    border-bottom: 2px solid var(--text-color)!important;
}

}

//dynamic Module 
#myModalEdit{
    padding-left: 0px !important;
    .modal-body{
        background-color: var(--new-bg-dark-color ) !important;
        color: var(--sidebar-activecolor);
    }

    .modal-body .card-header{
        background-color: var(--modal-header-bg) !important;
    }

    .modal-body .card-body{
        background-color: var(--new-footer-color) !important;
    }

    .border{
        border:none !important;
    }

    .bg-white.card .card-header{
        background: var(--new-footer-color) !important;
    }
    
    .bg-white.card{
        background-color: var(--chart-container-color) !important;
        color: var(--text-color)!important;
        margin: 20px;
    }
    
    .bg-white.card .chartIconsDiv {
        margin: 10px;
        background-color: transparent;
        color: var(--text-color)!important;
    }
    
    .bg-white.card .chartIconsDiv label{
        color: var(--text-color)!important;
    }
    
    .card-footer a h6{
        color: var(--text-color)!important;
    }
    
    .card-footer a h6 span{
        border-bottom-color: var(--text-color)!important;
    }
    
    .modal-title.text-uppercase{
        color: var(--text-color)!important;
    }
    
    .modal-body > .row:first-child{
        background: var(--new-header-color);
        color: var(--text-color)!important;
        margin-top: -1rem;
        padding: 8px;
    }
    
    .modal-content.bg-faint-grey{
        background-color: transparent !important;
    }
    
    .rightButtons a h6,
    .rightButtons i.fa{
        color: var(--text-color)!important;
    }
    
    .rightButtons a h6 span{
        border-bottom-color: var(--text-color)!important;
    }
    
    .rightButtons button{
        color: var(--text-color)!important;
    }
    
    .input-group-append .input-group-text{
        background-color: var(--new-footer-component-color);
        border-color: var(--new-footer-component-color);
    }
    
    .input-group-append .input-group-text i.fa{
        color: var(--text-color)!important;
    }

    i.fa {
        color: var(--fa-color);
      }
}

.linked-btn{
    border: none;
    border-radius: 5px;
    padding: 6px 20px;   
}

//dynamic dashboard
.dynamic-modules-section{
    padding-top: 60px;
    .card{
        background-color: transparent!important;
    }

    .card-header{
        background-color: transparent!important;
        border-bottom: transparent !important;
    }

    .card-body {
        background-color: transparent !important;
        border-radius: 10px !important;
    }

    .fullContainer{
        border: 1px solid var(--border-grey-color) !important;
        border-radius: 5px;
    }
   
}


.secondDivCard.commonCardDiv .card.secCard{ 
    background-color: var(--signoff-bottom-card) !important; 
    border: 1px solid var(--signoff-bottom-card) !important;
    .card-body.secCardBody{
    background-color: var(--signoff-bottom-card) !important;
    border-radius: 10px;
    }

}

.creatmodule .vue-treeselect--multi,
#myModalEdit .vue-treeselect--open-below {
    border-radius   : 0px;
    font-size       : 0.875rem;
    font-weight     : 200;
    border          : 0px solid var(--border-grey-color);
    background-color: transparent;
    min-height      : calc(1.5em + 0.75rem + 2px);
}

.modal {
	background: var(--modal-overlay);
}

.modal-body{ 
    
    .card{
    background-color:var(--new-footer-color);
    border: 1px solid var(--border-grey-color);
    }

    .card-footer{
        background-color: var(--new-footer-color) !important;
        color: var(--sidebar-activecolor);
        border-top: 1px solid var(--border-grey-color) !important;
    }
    

}

.modal-header{
    background-color: var(--grey-color-button) !important;
    margin-bottom: -3px;

    .close {
        margin-top: -15px;
        color: var(--main-font-color) !important;
    }
    
}

.v-step__header{
    background-color: var(--grey-color-button) !important;
}

.v-step{
    background-color: var(--bg-main-color) !important;

    .v-step__button{
        border-radius: 4px !important;
    }
}

.modal-content .modal-body{ 
    .btn-secondary{
    background-color: var(--primary-color-button) !important;
    border-color: var(--primary-color-button) !important;
    
    }

    .resetbtn{
        background-color: var(--black-btn-color) !important;
        border-color: var(--black-btn-color) !important;
    }

}

.modal-footer{ 
    
    .btn-primary{
    background-color: var(--black-btn-color) !important;
    border-color: var(--black-btn-color) !important;
}

.btn-secondary{
    background-color: var(--grey-color-button) !important;
    border-color: var(--grey-color-button) !important;
}

}

.modal-dialog-scrollable .modal-body {
    overflow-y: auto;
}

#dqreporting .card-header,

#input_tab_content_commoditiesToClients .card-header,

#benchmarking-comfacilities .card-header,
#dqrSummary .emuchart .card-header,
#input_tab_content_fp_visits .card-header,
#output_tab_content_fp_visits .card-header,
#input_tab_content_fp_users .card-header,
#reporting_tab_content_commoditiesToClients .card-header,
#reporting_tab_content_fp_visits .card-header,
#benchmarking-fpemuoutput .card-header,
#benchmarking-sub-tabContent .card-header{
    // background-color: #121221 !important;
    background-color: var(--chart-container-color) !important;
    border-color: transparent;
}

#benchmarking-sub-tab .card-header{
    background-color: transparent !important;
    border-color: transparent !important;
}

#dqreporting .card-body.offwhite-bg,
#benchmarking-sub-tab .card-body.offwhite-bg,
#benchmarking-sub-tab .card,
#input_tab_content_commoditiesToClients .card-body,
#input_tab_content_commoditiesToClients .row.px-3.pt-2,
#input_tab_content_commoditiesToClients .card,
#output_tab_content_commoditiesToClients .card-body,
#output_tab_content_commoditiesToClients .card,
#benchmarking-comfacilities .card,
#benchmarking-comfacilities .card-body,
#input_tab_content_fp_visits .card,
#input_tab_content_fp_visits .card-body,
#output_tab_content_fp_visits .card,
#output_tab_content_fp_visits .card-body,
#reporting_tab_content_commoditiesToClients .card,
#reporting_tab_content_commoditiesToClients .card-body,
#reporting_tab_content_commoditiesToClients .row.px-3.pt-2,
#reporting_tab_content_fp_visits .card,
#reporting_tab_content_fp_visits .card-body,
#benchmarking-fpemuoutput .card,
#benchmarking-fpemuoutput .card-body,
#benchmarking-sub-tabContent .card,
#benchmarking-sub-tabContent .card-body,
#benchmarking-sub-tabContent .card-footer
{
    background-color: var(--new-footer-color) !important;
}

.emu-annual p{
    color: var(--text-color) !important;
}
#input_tab_content_commoditiesToClients .row.px-3.pt-2,
#dqrSummary .emuchart .row.px-3.pt-2,
#reporting_tab_content_commoditiesToClients .row.px-3.pt-2{
    margin-left: 0px;
    margin-right: 0px;
}

#dqreporting .bg-warm-grey,
#benchmarking-sub-tab .bg-warm-grey {
    background-color: var(--new-footer-component-color) !important;
    color: var(--main-font-color) !important;
}

#dqreporting .bg-warm-grey p span.border-bottom-black,
#benchmarking-sub-tab .bg-warm-grey p span.border-bottom-black {
    border-bottom: 1px solid var(--border-grey-color);
}

#benchmarking-sub-tab .card-footer,
#input_tab_content_commoditiesToClients .card-footer,
#output_tab_content_commoditiesToClients .card-footer,
#benchmarking-comfacilities .card-footer,
#input_tab_content_fp_visits .card .card-footer,
#output_tab_content_fp_visits .card-footer,
#benchmarking-fpemuoutput .card-footer
{
    background-color: transparent !important;
    color: var(--sidebar-activecolor);
    border-top-color: transparent !important;
}


#benchmarking-sub-tab .small,
#output_tab_content_commoditiesToClients .card-body p,
#output_tab_content_commoditiesToFacilities .card-body p,
#output_tab_content_fp_visits .card-body p,
#benchmarking-sub-tabContent .card-footer{
    color: var(--sidebar-activecolor);
}

#benchmarking-sub-tab .card .card-footer p,
#input_tab_content_commoditiesToClients .card-footer p,
#output_tab_content_commoditiesToClients .card-footer p,
#benchmarking-comfacilities .card-footer p,
#input_tab_content_fp_visits .card .card-footer p,
#output_tab_content_fp_visits .card-footer p,
#benchmarking-sub-tabContent .card-footer p{
    padding-bottom: 0px;
}

#benchmarking-sub-tab .table-danger td{
    border-color: var(--sidebar-activecolor);
}

//placeholder section css

.placeholderchart{ 

    .card-body{
    background-color: transparent !important;
    }

    #progmapcontainer .card{
    background-color: transparent !important;
}

}


.card-header,.card-body.key-insights_card-body, .card-body.key-insights_card-body.check_box_div,
.card.key_insights .percentage-card .bottom-card-text.isNotExport span,.card-body.key-insights_card-body .alert-secondary,
.info-card-text h5,.card-body.key-insights_card-body .btn-secondary,.card.key_insights .card-header i,.card-header i,
#myTabContent .dqurcard-body,.summarysubcardqr .colBoxtext span,#myTabContent .card-body.cardFullHeight,
#myTabContent .card-body.cardFullHeight .cardActive .userName,#myTabContent .card-body.cardFullHeight .details_cmd_card h5.userName,
#myTabContent .card-body.cardFullHeight .details_cmd_card h6.userName, #myTabContent .card-body.cardFullHeight .details_cmd_card .location_date,
#myTabContent .card-body.cardFullHeight .cardActive .actionBtn button:hover, #myTabContent .card-body.cardFullHeight .cardActive .actionBtn button.active,
#myTabContent .card-body.cardFullHeight .actionBtn button,#myTabContent .card-body.cardFullHeight .userName,#myTabContent .card-body.cardFullHeight .userName,
#myTabContent .card-body.cardFullHeight .selectionName,#myTabContent .card-body.cardFullHeight .location_date,#myTabContent .card-body.cardFullHeight .sect_quest,
#output_tab_content_commoditiesToClients .card-body p,
#output_tab_content_commoditiesToFacilities .card-body p,
#output_tab_content_fp_visits .card-body p,
.interactive_analytics .card .card-body,
.iaaccordion .card .card-header span,
.card.bookmarkchart-card.secCard .card-body, .card.bookmarkchart-card.secCard,
.card.bookmarkchart-card.secCard .card-body .media.color-black{
    color: var(--home-main-color) !important;
}


.table thead th{
    border-bottom: 1px solid var(--border-grey-color);
}

.table td, .table th{
    border-top: 1px solid var(--border-grey-color);
}

.table-bordered td,.table-bordered th{
    border: 1px solid var(--border-grey-color) !important;
}

.table .thead-light th{
    border-color: var(--sidebar-main-active-color) !important;
    
    color: var(--text-color)!important;
}

.table thead th,
.userMappingTable .table .thead-dark th{

background-color: var(--sidebar-main-active-color) !important;
border: 1px solid var(--border-grey-color) !important;

}

table tbody th,
table tbody td{
    background-color: var(--new-footer-color);
    border-color: var( --new-footer-color);
    color: var(--sidebar-activecolor);
}

table tbody td,.chartHeight table tbody td{
    color: var(--home-main-color) !important;
}

table tbody td{
    border: 1px solid var(--border-grey-color) !important;
}

.table.b-table > thead > tr > [aria-sort=descending]{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='101' height='101' view-box='0 0 101 101' preserveAspectRatio='none'%3e%3cpath fill='white' opacity='.3' d='M51 1l25 23 24 22H1l25-22z'/%3e%3cpath fill='white' d='M51 101l25-23 24-22H1l25 22z'/%3e%3c/svg%3e");
}

.table.b-table > thead > tr > [aria-sort=ascending]{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='101' height='101' view-box='0 0 101 101' preserveAspectRatio='none'%3e%3cpath fill='white' d='M51 1l25 23 24 22H1l25-22z'/%3e%3cpath fill='white' opacity='.3' d='M51 101l25-23 24-22H1l25 22z'/%3e%3c/svg%3e");
}

.table.b-table > thead > tr > [aria-sort=none]{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='101' height='101' view-box='0 0 101 101' preserveAspectRatio='none'%3e%3cpath fill='white' opacity='.3' d='M51 1l25 23 24 22H1l25-22zM51 101l25-23 24-22H1l25 22z'/%3e%3c/svg%3e");
}


.table.b-table > thead > tr > [aria-sort=none]{
    background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23ffffff' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") !important;
}

button.sidebar-sub-menu-option{
    display: flex;
}

.sumContainer,.dqrContainer{
    margin-left: 230px;
}

.sumContainer.main{
	padding-top: 60px;
}

.sumContainer, .dqrContainer{
	overflow-y: auto;
    height: calc(100vh - 60px);
	
}

#dashboardchartholder.sumContainer{
	// margin-top: 100px !important;
	padding-top: 65px;
}

.dqrContainer{
	padding-top: 60px;
	background-color: var(--chart-container-color) !important;
	
	
	.modal-dialog-scrollable .modal-body {
		overflow-y: auto !important;
	}
}

.form-control-file, .form-control-range {
    color: var(--main-font-color);
}

.subgrpBtn,.addgrpBtn,.indiBtn,.editBtn{
    background-color: var(--main-header-color) !important;
    border-color: var(--main-header-color) !important;
}

.deleteBtn{
    background-color: var(--grey-color-button) !important;
    border-color: var(--grey-color-button) !important;
}

.black-btn.pointer-events-none{
    margin-bottom: 10px;
}

.swal2-select,
div:where(.swal2-container) .swal2-select {
    background-color: var(--primary-color-button);
    border-color: var(--primary-color-button) !important;
    border-radius: 0.25rem;
}

.new-btn{
    background-color: var(--grey-color-button) !important;
    border-color: var(--grey-color-button) !important;
}

.new-btn1 {
    background-color: var(--black-btn-color) !important;
}

.new-btndisable{
  background-color: var(--grey-color-button) !important;
  border-color: var(--grey-color-button) !important;
}

.modal-content .modal-body .new-resetbtn {
    background-color: var(--grey-color-button) !important;
    border-color: var(--grey-color-button) !important;
    color: var(--text-color)!important;
}

.createmodal .btn-primary.submitbtn {
    background-color: var(--grey-color-button) !important;
    border-color: var(--grey-color-button) !important;
}

.swal2-popup h2{
    font-size: 1.4rem !important;
}

.swal2-popup .swal2-select{
    font-size: 1rem !important;
}

.swal2-popup .swal2-styled{
    padding: 0.5em 1.1em !important;
}

.footer-buttons .btn-primary{
    background-color: var(--grey-color-button) !important;
}

.search-text .vue-treeselect--has-value .vue-treeselect__input,
.search-text .vue-treeselect--multi .vue-treeselect__input {
    color: var(--text-color)!important;
}


.search-text .vue-treeselect__menu{
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 200px !important;
}

.cancel-newbtn {
    background-color: var(--grey-color-button)  !important;
}

.btn-dark {
	background-color: var(--export-btn-color) !important;
	border-color: var(--export-btn-color) !important;
}

// responsive css

@media (min-width: 1920px) {
    .fs-10-1920{
        font-size: 	0.625rem !important;
    }
    .fs-11-1920{
        font-size: 0.695rem !important;
    }
    .fs-12-1920{
        font-size: 0.75rem !important;
    }
    .fs-13-1920{
        font-size: 0.815rem !important;
    }
    .fs-14-1920{
        font-size: 	0.875rem !important;
    }
    .fs-15-1920{
        font-size: 0.9375rem !important;
    }
    .fs-16-1920{
        font-size: 1rem !important;
    }
    .fs-17-1920{
        font-size: 1.063rem !important;
    }
    .fs-18-1920{
        font-size: 1.125rem !important;
    }
    .fs-19-1920{
        font-size: 1.188rem !important;
    }
    .fs-20-1920{
        font-size: 	1.25rem !important;
    }
    .fs-21-1920{
        font-size: 1.315rem !important;
    }
    .fs-22-1920{
        font-size: 	1.375rem !important;
    }
    .fs-28-1920{
        font-size: 	1.75rem !important;
    }
    .fs-40-1920{
        font-size: 		2.5rem !important;
    }
   
}

@media screen and (min-width: 1920px) {
    .report{
        margin-left: 306px;
    }
}

@media screen and (min-width: 1500px) {

.home-main .dqr-content , .home-main .sum-content{
    width: 340px !important;
}

.home-main .home-dqr , .home-main .home-sum{
    width: 281px !important;
}

.home-main .home-dqr {
    position: relative;
    // left: -32px;
}

.home-main .dqr-content .img-dqr {
    position: absolute !important;
    right: 5px !important;
    transform: skewX(1deg) !important;
    
}

.home-main .dqr-content .img-dqr img{
    height: 180px !important;
    margin-top: -6px !important;
}

.sumry-content img{
    width: 85% !important;
    margin-top: -9px !important;
    height: 170px !important;
}

.sumry-content button{
    margin-right: 20px !important;
}


}

@media screen and (min-width: 1920px) {
    .home-main .dqr-content , .home-main .sum-content{
        width: 400px !important;
    }

    .home-main .dqr-content .img-dqr img{
        height: 190px !important;
        margin-right: 60px !important;
    }

    .home-main .home-dqr {
        position: relative !important;
        // left: -58px !important;
    }

    .sumry-content button {
        margin-left: 40px !important;
    }

    .select_dashboard_btn.btn-group{
        margin-top: 0px !important;
    }
}

@media (min-width: 1366px)
{
.sidebar-newbody #sidebar-2 {
    width: 245px;
    // height: calc(100vh - 130px) !important;
}

// .home-main .sum-content .sumry-content{
//     margin-top: 9px !important;
// }

.not-emu .signoff-modal-content .list-of-questions{
    height: calc(100vh - 412px) !important;
}

}

@media only screen and (min-device-width: 1280px) and (max-device-width: 1350px) {
        .sidebar-newbody #sidebar-2 {
            width: 214px !important;
            top: 6px !important;
            
        }

        .sumContainer,.dqrContainer{
            margin-left: 204px !important;
        }

        .home-main {
        .dqr-content{
            width: 255px !important; 

            }
        .home-dqr    {
            // padding: 13px !important;
            margin-top: -7px;
            left: 0px;
        }
        .dqr-content .img-dqr{
            margin-top: 10px;
        }
        }

        // .b-sidebar-outer{
        //     z-index: 900;
        // }

        .home-main .sum-content .sumry-content{
            margin-top: 0px !important;
        }

        .mapDivLegend{
            margin-top: -6%;
        }

        .sidebar-newbody #sidebar-2 .sidebar .sidebar-item{
            width: 200px !important;
        }

        .sidebar-newbody #sidebar-2 .sidebar .sidebar-item.subgroups{
            width: 190px !important;
        }
        
}    

@media (min-width: 576px){
	.modal-dialog-scrollable .modal-content {
		max-height: calc(100vh - 1rem);
		// overflow-y: scroll;
	}

}

