/*common css starts*/
* {
	font-family: var(--body-font-family);
}

/*  TO REMOVE OUTLINE */
*:focus {
    outline   : none;
    box-shadow: none !important;
}
/*  TO REMOVE OUTLINE END*/


body,
html {
	font-size: 16px;
	font-family: var(--body-font-family);
}

body{
	overflow: hidden;
	overflow-x            : hidden;
    font-family           : 'Roboto', sans-serif;
}

p {
	font-size: 1rem;
}

/*common css ends*/

.hide {
	display: none;
}

::-webkit-scrollbar {
	width: 7px !important;
	height: 10px;
	
	// cursor: pointer; 

}


::-webkit-scrollbar:vertical {
	width: 10px !important;
	height: 10px;
	// cursor: pointer; 

}

::-webkit-scrollbar-track{
    background-color: var(--bg-main-color) !important;
	border-radius: 15px;
}

::-webkit-scrollbar-thumb {
	background: var(--scroll-color) !important;	
	border-radius: 15px;
	border: 2px solid transparent;
    background-clip: padding-box !important;
}

::-webkit-scrollbar-thumb:vertical:hover{
   
	background: var(--scroll-color) !important;
	border: 10px solid transparent;
}



// .integratedFamilyWrap::-webkit-scrollbar-track{
// 	background-color: var(--primary-bg-color) !important;
// }

// .integratedFamilyWrap::-webkit-scrollbar-thumb {
// 	background-color: var(--text-color) !important;
// 	outline: 1px solid transparent;
// 	border-radius: 15px;
// 	-webkit-box-shadow: none;
// }


/* scrollbar for firefox */
* {
    // scrollbar-color: rgba(0, 0, 0, .5) 0 0 1px rgba(255, 255, 255, .5);
    // scrollbar-width: thin;
}
/* scrollbar for firefox end */

.font-size {
	.dec-btn {
		background: transparent; //#b7b6bf
		border: 0;
		font-size: 12px;
	}

	.active-btn,
	.active-btn:hover {
		background: var(--fontsize-button-color);
		border: 0;
		color: var(--home-btn-color);
		height: 20px !important;
		text-align: center;
		padding-top: 2px !important;
		font-weight: bold;
	}

	.inc-btn {
		background: transparent;
		border: 0;
	}
}

.hidden {
	visibility: hidden !important;
}






