
.mdgridviewpage-bg {
  min-height: 100vh;
  // padding: 20px 40px;
  background-color: var(--bg-main-color) !important;
  overflow-x: hidden; 

 

  #topDiv{
    background-color: var(--new-header-color);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: -20px;

    .black-btn{
      background-color: var(--black-btn-color) !important;
      border-color: var(--black-btn-color) !important;
      color: var(--text-color)!important;
  }
  }


  #page-content-wrapper > .container-fluid:first-child{
    background-color: var(--new-header-color);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: -20px;
  }

  #page-content-wrapper {
    min-width: 100vw;
}

  .nav-tabs {
    border-bottom: 2px solid var(--border-grey-color);

  .nav-item.add-adminbtn .nav-link{
    border-radius: 4px !important;
   
  }
  
  .nav-link {
    margin-bottom: -1px;
    border: 1px solid transparent;
    color: var(--sidebar-maincolor) !important;
    margin-right: 5px;

    &:hover {
      border-color: transparent;
    }
  }

  }

  .adminConfigInner{ 

   
   
    .nav-tabs .nav-item.add-adminbtn .nav-link{
        padding:0.5rem 0.5rem !important;
        // border-radius: 8px !important;
    }

   
    .card-header-tabs{
        background-color: transparent!important;
        border-top-left-radius: 0px !important;
        border-top-right-radius: 0px !important;
    }

    .card-header{
        width: 250px !important;
    }

   

  }

  .color-admingroup .fa-info{
    color: var(--text-color) !important;
  }
  .adminConfig .nav-tabs .nav-link.active{
    border-bottom: transparent !important;
    background: var(--sidebar-main-active-color) !important;
    // margin-top: 8px;
    margin-right: 41px;
    border-top-right-radius: 50px !important;
    border-bottom-right-radius: 50px !important;
    border-top-left-radius: 0% !important;
    border-bottom-left-radius: 0% !important;
}

}

.mdgridviewpage-bg.admin-side {
  .select-wrapper select {
    background: white url("data:image/svg+xml;utf8,<svg viewBox='0 0 140 140' width='24' height='24' xmlns='http://www.w3.org/2000/svg'><g><path d='m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z' fill='white'/></g></svg>") right 0.75rem center/8px 10px no-repeat;
  }
}

.mdgridviewpage-bg.dqrbgchart{
  background-color: var(--primary-bg-color) !important;
  padding-bottom: 50px !important;
}

.mdgridviewpage-bg > .container-fluid:first-child{
  background-color: var(--new-header-color);
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: -20px;
}

.admin-active .nav-tabs .nav-link.active {
  background: var(--home-btn-color) !important;
}

.dashboardchart-container{ 
  
  .card {
    .card .card-footer {
      background-color: var(--innerbg-text-color) !important;
  }
  
  
  .card .card-header:hover {
      // text-decoration: underline;
      color: var(--text-color);
  }
  
  .card .card-header .btn-link.color-white:hover {
      text-decoration: underline;
      color          : var(--text-color) !important;
  }
  
  .card .card-footer {
      padding                   : 5px 30px !important;
      border-top                : none;
      background-color          : var(--innerbg-text-color) !important;
      color                     : var(--subtext-pop-color);
      font-size                 : 0.75rem;
      font-weight               : 500;
      border-bottom-left-radius : 10px;
      border-bottom-right-radius: 10px;
      /*visibility              : hidden;*/
  }
  
  .card .card-footer p {
      font-size     : 0.8125em;
      padding-bottom: 1%;
  }
    

  }

  .form-control#exampleFormControlSelect1{
    color: var(--sidebar-activecolor);
    background-color: var(--new-footer-component-color);
    border: 1px solid var(--new-footer-component-color);
  }

  .bookmarkchart-card .card-body {
    padding: 1.25rem;
  }

}


.adminConfig{
  .nav-tabs .nav-link.active {
    background-color: var(--black-btn-color);
}

.nav-tabs {
 
  border-bottom: transparent !important;

  .nav-item{
      margin-top: 7% !important;
  }
  .nav-link.active
  {
    
      border-color: transparent !important;
  
    
  }

  }   

  .nav-tabs .nav-link:hover {
      margin-right: 41px;
  }

  .nav-tabs .nav-link::before:hover {
      padding-right: 2px !important;
  }
  
  .card-header{
      width: 250px !important;
  }

  .card .card-header{
    background-color: var(--primary-bg-color) !important;
  }
}

.adminConfigInner .nav-tabs.hideTabs{
  height: 42px;
  flex-wrap: wrap;
  // flex-direction: column;
  overflow: hidden;
  // width: fit-content;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.md_tabs {
  .card-header {
    &.nav-pills {
      padding: 0;
      width: calc(100vh - 400px);

    }
  }

  .card-header.nav-pills {
    width: 250px !important;
  }

  .card-body.tab-pane {
    padding: 0px 0px 0px 16px !important;

    .md_nested_tabs {
      padding: 3%;
      padding-left: 1% !important;
      margin-left: 5px !important;
      .tab-pane.card-body {
        padding-left: 0px !important;
      }

      .nav-tabs{
        border-bottom: 0 solid transparent !important;
      }
      .card {
        .tabs.border {
          .card-header {
            background-color: var(--loader-bg-color);
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;

            li {
              a {
                color: var(--text-font-color);
              }
            }
          }
        }
      }

      #methodmapping {
        border: 1px solid var(--border-grey-color) !important;
        .collapse{
          border: 1px solid var(--border-grey-color) !important;
          margin-bottom: 10px;
          border-top: none !important;
        }
      }

    
      #accordion-annualFpSource form .collapse{
          border: 1px solid var(--border-grey-color);
          margin-bottom: 10px;
         padding: 10px 24px;
      }

      #accordion-monthlyFpSource form .collapse{
        border: 1px solid var(--border-grey-color);
        margin-bottom: 10px;
        padding: 10px;
      }

      .collapse{
        border: 1px solid var(--border-grey-color);
        margin-bottom: 10px;
        border-top: none !important;
      }

     
      .md_tabs .collapse{
        border: 1px solid var(--border-grey-color);
        margin-bottom: 10px;
      }

     
      
    
    }
  }

  .nav-pills .nav-item {
    margin-top: 9% !important;
  }

  .card-body.tab-pane
  .md_nested_tabs
  .card
  .tabs.border
  .card-header
  li
  a {
  &.active,
  &:active,
  &:hover {
    color: var(--innertext-font-color);
  }
  }

  .card-body.tab-pane .card-section .md_nested_tabs{
    padding: 0% !important;
     margin-left: 0px !important;
     margin-top: 2%;
  }

  .card-header.nav-pills li a.active {
   
    background-color: var(--sidebar-main-active-color);
}


}

#accordion-map1,
#accordion-bench1
{
  border: 1px solid var(--border-grey-color);
  margin-bottom: 10px;
}

.user-creation {
  .card-body .groupCreationtable {
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
  }

  .card-body .groupCreationtable .table {
    background-color: transparent !important;
  }

  .table .thead-dark th {
    color: var(--text-color);
    background-color: var(--bg-active-color);
    border-color: var(--bg-active-color);
  }
}

.card-body .table-responsive.groupCreationtable .table {
	background-color: transparent !important;
	border: 1px solid var(--border-grey-color) !important;
}

.card-body .table-responsive.userMappingTable .table{
  border: 1px solid var(--border-grey-color) !important;
}

.card-body .table-responsive .table {
	background-color: transparent !important;
}

.table .thead-dark th {
	background-color: var(--primary-bg-color);
}

.userMappingTable .table .thead-dark th {
	background-color: var(--primary-bg-color) !important;
}

.globalconfigcontainer {
  height: calc(100vh - 60px);
	overflow-y: scroll;
	overflow-x: hidden;
	padding-top: 60px;
  .btn:focus,
  .btn.focus {
    outline: 0;
    box-shadow: none;
  }

  .form-control {
    background-color: var(--sidebar-main-active-color) !important;
    border          : 1px solid var(--sidebar-main-active-color) !important;
  }

  .first-content-div .form-control {
    background-color: transparent !important;
    border          : 1px solid var(--grey-color-button) !important;
}

  .col-form-label,
  .form-control{
      font-size: 0.9375rem;
      color    : var(--text-font-color);
  }



}

.color-conf {
  .colorDiv {
    height: 2rem;
    width: 2rem;
    border-radius: 5px;
  }

  .data-btn-item-saved {
    margin-right: 2rem;
  }

  .darkGreenDiv {
    background: var(--green-darkbg-color);
  }

  .blueDiv {
    background: var(--blue-bg-color);
  }

  .greenDiv {
    background: var(--green-bg-color);
  }

  .orangeDiv {
    background: var(--orange-bg-color);
  }
}

#modal-admin {
  .modal-header {
    padding: 8px 15px;
    border-bottom: 10px !important;
  }

  .modal-body {
    padding: 30px 15px;
  }

  #dropdownnav {
    width: 295px;
  }

  #dropdownnav .btn p {
    font-size: 12px;
    color: var(--main-font-color);
  }
}

.datamappingtopcar {
  .btn-link {
    color: var(--text-font-color) !important;
  }

  .md_nested_tabs .md_tabs .card-header.nav-pills li a.active{
    color: var(--text-color) !important;
      border-color: transparent;
      border-bottom-right-radius: 30px;
      border-color: transparent;
      border-top-right-radius: 30px;
      // margin-top: 8px;
      margin-right: 41px;
     
  }
}


.userMappingTable {
  border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
  .table .thead-dark th {
    color: var(--text-color);
    background-color: transparent;
    // border-color: transparent;
    border-color: var(--border-grey-color);
    padding:9px !important;
    font-weight: 400;
  }

  table tbody td {
    border: 1px solid var(--border-grey-color)!important;
    background-color: var(--primary-bg-color) !important;
  }

  .table td{
    border-top: 1px solid var(--border-grey-color) !important;
}
}

.config-icon-container{ 

  width          : 150px;
  height         : 180px;
  margin         : 0 auto;
  display        : flex;
  vertical-align : middle;
  justify-content: center;
  align-items    : center;
  border-radius  : 8px;
  
    .colorBox {
    height: inherit;
    width: inherit;
  }

}

.config-icon-container.config-newcontainer .colorBox {
  border-radius: 50px !important;
}

.config-icon-container.config-newcontainer {
  width: 50px !important;
    height: 50px !important;
    // border-radius: 5px !important;
}

.colorBox {
  border: 1px solid transparent;
}

.colorBox.active {
  border: 1px solid var(--border-grey-color);
}

.collapse-section-border{
    .cursor-pointer{
        color: var(--color-black);
    }
}

 .userMappingTable {
     .table .thead-dark th {
         color           : var(--text-color);
         background-color: transparent;
         border-color    : transparent;
     }
 }

 .mapviz-section{
  .translate-height{
    .input-group-append{
    height: 36px;
    }
  }
 }

 .admin-sidebar{  
  .card .card-header{
     letter-spacing: 0.8px;
     opacity: 1;
     font-size: 16px !important;
     font-weight: 400 !important;
  }
 .ql-snow .ql-stroke{
  stroke: var(--text-color)  !important;
  }
}

 .card-section .md_tabs{
  margin: -20px !important;
  margin-top: -28px !important;
 }

 .mx-table td{
  font-size: 14px;
 }

 .black-btn {
  background-color: var(--export-btn-color) !important;
  border-color: var(--export-btn-color) !important;
 
  }
 
 
