/*home page starts*/
.home-page {
    background-color: var(--home-page-bg-color);
    background      : var(--home-page-liner-gradient-color);
    height: 100vh;
    .home-page-container {
        padding-left : 5rem !important;
        padding-right: 5rem !important;

        // .dropdown-toggle::after {
        //     border-top   : 0;
        //     border-right : 0;
        //     border-bottom: 0;
        //     border-left  : 0;
        // }
    }

    .btn-bg-transparent {
        background-color: transparent !important;
        border-color    : transparent !important;
    }
    
    .home-nav {
        display    : flex;
        align-items: center;
    }

    #dropdownhome {
        .btn {
            background-color: transparent;
            border          : 0;
            border-radius   : 0;
            display         : flex;
            align-items     : center;

            p {
                text-transform: capitalize;
                margin-bottom : 0;
                // color         : var(--main-font-color);
            }

        }

        // .dropdown-toggle::after {

        //     margin-left: 1.255em;

        // }

        .dropdown-menu {
            z-index              : 1001;
            background-color     : var(--dropdown-bg-color);
            border               : 1px solid var(--dropdown-border-color);
            //width           : 100%;
            border-radius        : 10px;
            margin               : 0;
            margin-top           : 8px;
            padding: 0px !important;
            //background: url('@/assets/images/fp-home.png');
            //background-image   : url("../images/fp-home.jpg");

            li {
                padding      : 4px 8px;
                // border-bottom: 1px solid var(--dropdown-border-color);

                // .dropdown-item::before{
                //     background-image   : url("../images/fp-home.png");
                //     background-repeat: no-repeat;
                //     background-position: center;
                // }
                .dropdown-item {
                    text-transform  : capitalize;
                    font-size       : var(--font-small);
                    z-index         : 999;
                    color           : var(--fonts-white-shade) !important;
                    background-color: var(--dropdown-item-bg);
                    width           : 93%;
                    margin          : 0 auto;
                    border-radius   : 10px;
                    border          : 1px solid var(--dropdown-border-color);
                    padding: 0.25rem 2.5rem 0.25rem 0.5rem;
                }
            }


        }


    }

    .admin {
        a {
            color: var(--home-main-color) !important;
        }

    }

    .content-wrap {
        position: relative;

        .home-banner-div {
            position: absolute;
            top     : 0;
            left    : 0;
            width   : 100%;
        }

        .home-banner-image {
            background-image   : url("../images/bg2.png");
            background-repeat  : no-repeat;
            background-position: top right;
            height             : calc(80vh - 82px);
            background-size    : cover;
        }

        .logo-img {
            width: 5%;
        }

        .home-page-heading {
            color         : var(--home-main-color);
            text-transform: uppercase;
            line-height   : 1.3;
            font-size     : clamp(1.5rem, 2vw + 1rem, 2.25rem);


            span {
                color: var(--yellow-text-color);
            }
        }

        .home-page-desp {
            color    : var(--home-main-color);
            font-size: var(--font-p);
        }

        .explore-btn-home {
            text-transform: capitalize;
            font-weight   : 500;
            border-radius : 5px;
            font-size     : 0.875rem;
            color         : var(--home-btn-color);
        }

        .first-content-div {
            height         : calc(50vh - 20px);
            display        : flex;
            flex-direction : column;
            justify-content: center;
        }

        .module-content-div {
            height         : calc(50vh - 50px);
            display        : flex;
            flex-direction : column;
            justify-content: center;
        }

        .explore-btn {
            text-transform : capitalize;
            font-weight    : 500;
            border-radius  : 5px;
            font-size      : var(--font-medium);
            color          : var(--home-btn-color);
            align-items    : center;
            display        : flex;
            justify-content: space-between;

        }
    }

    .footer-home-icon {
        // width : 20%;
        margin: 0 12px;
    }

    .footer-home-div {
        position: fixed;
        width   : 100%;
        bottom  : 0;
        padding : 12px 0;
        left    : 0
    }

    .lang-dropdown {
        .nav-link {
            span {
                background-image   : url("../images/icons/language.png");
                padding            : 10px 12px;
                background-repeat  : no-repeat;
                background-position: center;
            }
        }

        .dropdown-menu {
            z-index           : 1001;
            background-color  : var(--dropdown-bg-color);
            border            : 1px solid var(--dropdown-border-color);
            //width           : 100%;
            border-radius     : 10px;
            margin            : 0;
            margin-top        : -6px;

            li {
                padding      : 4px 8px;
                border-bottom: 1px solid var(--dropdown-border-color);

                .dropdown-item {
                    text-transform  : capitalize;
                    font-size       : var(--font-small);
                    z-index         : 999;
                    color           : var(--fonts-white-shade) !important;
                    background-color: var(--dropdown-item-bg);
                    width           : 93%;
                    margin          : 0 auto;
                    border-radius   : 10px;
                    border          : 1px solid var(--dropdown-border-color);
                }
            }


        }

    }

    .version-details {
        color    : var(--fonts-white-shade);
        font-size: var(--font-size-p-normal-text);
    }

    .dhis-btn {
        background-color: transparent !important;
        border          : 0;
        color           : var(--home-main-color);
        min-width: 43px;
    }
}
// .btn-white-grey-bigger-font{
//     margin-bottom: 25px !important;
//     padding-bottom: 0px !important;
//     margin-top: 0px !important;

// }

@media only screen and (min-width: 1366px) {
    .home-page {
        #dropdownhome {
            .btn {
                p {
                    font-size: var(--font-medium);
                }
            }


            .dropdown-menu {
                li {
                    .dropdown-item {
                        font-size: var(--font-small);

                    }
                }
            }
        }

        .admin {
            a {
                font-size: var(--font-medium);
            }

        }

        .content-wrap {
            .home-page-heading {
                color         : var(--home-main-color);
                text-transform: uppercase;
                line-height   : 1.3;
                font-size     : var(--s-font-heading);
                margin        : 10px 0;

                span {
                    color: var(--yellow-text-color);
                }
            }

            .home-page-desp {
                color        : var(--home-main-color);
                font-size    : var(--font-small);
                margin-bottom: 10px;
            }

            .dhis-btn {
                background-color: transparent !important;
                font-size       : var(--font-medium) !important;
            }

            .homeexplore-btn,
            .homeexplore-btn:hover {
                text-transform : capitalize;
                font-weight    : 500;
                border-radius  : 20px;
                font-size      : var(--font-small);
                color          : var(--home-btn-color);
                align-items    : center;
                display        : flex;
                justify-content: space-between;
                margin-bottom: 20px !important;
                padding-bottom: 3px !important;
                padding-top: 3px !important;
            }
        }

        .footer-home-icon {
            // width : 20%;
            margin: 0 12px;
        }

        .footer-home-div {
            position: fixed;
            width   : 100%;
            bottom  : 0;
            padding : 12px 0;
            left    : 0
        }

        .first-content-div {
            height         : calc(50vh - 20px);
            display        : flex;
            flex-direction : column;
            justify-content: center;
        }

        .module-content-div {
            height         : calc(50vh - 50px);
            display        : flex;
            flex-direction : column;
            justify-content: center;
        }

    }
}

@media only screen and (min-width: 1536px) {
    .home-page {


        .content-wrap {
            .home-page-heading {
                color         : var(--home-main-color);
                text-transform: uppercase;
                line-height   : 1.3;
                font-size     : var(--m-font-heading);
                margin        : 20px 0;

                span {
                    color: var(--yellow-text-color);
                }
            }

            .home-page-desp {
                color    : var(--home-main-color);
                font-size: var(--font-medium);
            }

            .dhis-btn {
                background-color: transparent !important;
            }

            .homeexplore-btn,
            .homeexplore-btn:hover {
                text-transform : capitalize;
                font-weight    : 500;
                border-radius  : 20px;
                font-size      : var(--font-small);
                color          : var(--home-btn-color);
                align-items    : center;
                display        : flex;
                justify-content: space-between;

            }
        }

        .footer-home-icon {
            // width : 20%;
            margin: 0 12px;
        }

        .footer-home-div {
            position: fixed;
            width   : 100%;
            bottom  : 0;
            padding : 12px 0;
            left    : 0
        }

        .first-content-div {
            height         : calc(50vh - 20px);
            display        : flex;
            flex-direction : column;
            justify-content: center;
        }

        .module-content-div {
            height         : calc(50vh - 50px);
            display        : flex;
            flex-direction : column;
            justify-content: center;
        }

    }
}

@media only screen and (min-width: 1920px) {
    .home-page {


        .content-wrap {
            .home-page-heading {
                color         : var(--home-main-color);
                text-transform: uppercase;
                line-height   : 1.3;
                font-size     : var(--font-heading);
                margin        : 20px 0;

                span {
                    color: var(--yellow-text-color);
                }
            }

            .home-page-desp {
                color    : var(--home-main-color);
                font-size: var(--font-p);
            }

            .dhis-btn {
                background-color: transparent !important;
            }

            .homeexplore-btn,
            .homeexplore-btn:hover {
                text-transform : capitalize;
                font-weight    : 500;
                border-radius  : 20px;
                font-size      : var(--font-medium);
                color          : var(--home-btn-color);
                align-items    : center;
                display        : flex;
                justify-content: space-between;
            }
        }

        .footer-home-icon {
            // width : 20%;
            margin: 0 12px;
        }

        .footer-home-div {
            position: fixed;
            width   : 100%;
            bottom  : 0;
            padding : 12px 0;
            left    : 0
        }

        .first-content-div {
            height         : calc(50vh - 20px);
            display        : flex;
            flex-direction : column;
            justify-content: center;
        }

        .module-content-div {
            height         : calc(50vh - 50px);
            display        : flex;
            flex-direction : column;
            justify-content: center;
        }

    }
}

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
    .home-page .home-page-container {
        padding-left : 2rem !important;
        padding-right: 2rem !important;
    }

    .home-page {
        .home-page-desp {
            display           : -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            height            : 50px;
            overflow          : hidden;
        }
    }

    .home-page .content-wrap .homeexplore-btn,
    .home-page .content-wrap .homeexplore-btn:hover {
        text-transform : capitalize;
        font-weight    : 500;
        border-radius  : 20px;
        font-size      : var(--font-small);
        color          : var(--home-btn-color);
        align-items    : center;
        display        : flex;
        justify-content: space-between;
    }

    .home-page {
        position: relative;
    }

    .home-page .navbar-collapse {
        position  : absolute;
        width     : 100%;
        background: var(--primary-bg-color);
        z-index   : 1;
        top       : 56px;
        left      : 0px;

    }
}

@media all and (device-width: 1024px) and (device-height: 768px) and (orientation:landscape) {
    .home-page .home-page-container {
        padding-left : 2rem !important;
        padding-right: 2rem !important;
    }

    .home-page {
        .home-page-desp {
            display           : -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            height            : 50px;
            overflow          : hidden;
        }
    }

    .home-page .content-wrap .homeexplore-btn,
    .home-page .content-wrap .homeexplore-btn:hover {
        text-transform : capitalize;
        font-weight    : 500;
        border-radius  : 20px;
        font-size      : var(--font-small);
        color          : var(--home-btn-color);
        align-items    : center;
        display        : flex;
        justify-content: space-between;
    }

    .home-page {
        position: relative;
    }

    .home-page .navbar-collapse {
        // position  : absolute;
        // width     : 100%;
        // background: var(--primary-bg-color);
        // z-index   : 1;
        // top       : 56px;
        // left      : 0px;

    }
}

@media only screen and (min-device-width: 1280px) and (max-device-width: 1350px) {
    .home-page .content-wrap .logo-img {
        width: 4% !important;
        margin-top: 7% !important;
        }
    
    .home-page .content-wrap .module-content-div{
        margin-top: 2%;
    }    

    .dqr-main2{
        margin-left: 220px;
      }
}

/*home page ends*/

.chartsBtn{
    background: transparent linear-gradient(180deg, #5E57B3 0%, #292850 100%) 0% 0% no-repeat !important;
border-radius: 5px;
color: #E5E5E5;
padding: 7px 15px;

}