.home-main {
    height: 100vh;
    background:url(../images/grey-theme/bg-inimg.png);
    background-repeat     : no-repeat;
    background-size       : cover;
    overflow-x            : hidden;
    overflow: hidden !important;
    background-position: top !important;
   

    &:before{
        background-color: var(--home-bg-gradient) !important;
        content: '';
        display: block;
        height: 100vh;
        position: absolute;
        width: 100%;
    }
    .select_dashboard_btn .btn {
        background-color: var(--primary-color-button) !important;
        opacity         : 1;
        border-color    : transparent !important;
        color           : var(--text-color) !important;
        font-size       : 14px;
        text-align      : left;
        width           : 14rem;
        position        : relative;

        &:after {
            display       : inline-block;
            margin-left   : 0.255em;
            vertical-align: 0.255em;
            content       : "";
            border-top    : 0.3em solid;
            border-right  : 0.3em solid transparent;
            border-bottom : 0;
            border-left   : 0.3em solid transparent;
            position      : absolute;
            right         : 15px;
            top           : 15px;
        }
    }

    .select_dashboard_btn li button {
        background-color: var(--grey-color-button) !important;
        // padding: 10px 30px;
        display: flex;
        align-items: center;
    }

    .select_dashboard_btn .dropdown-menu .dropdown-item {
        border-color: var(--main-font-color) !important;
        color       : var(--text-color) !important;
        font-size   : 14px;
        padding     : 10px 0px;
        border-width: 1px;
        text-overflow: ellipsis;
    overflow: hidden;
    word-wrap: break-word;
    white-space: pre-wrap;
    }

    .select_dashboard_btn .dropdown-menu {
        background-color: var(--grey-color-button);
        padding         : 0 20px;
        color           : var(--text-color) !important;
        width           : 14rem;
        margin-top      : -3px;
        border-radius   : 0 0 0.25rem 0.25rem;
    }

    .dropDownBorderBottomColor button,
    .dropDownBorderBottomColor .dropdown-item:hover {
        border-bottom: 1px solid var(--main-font-color);
    }

    .header-body {
        position        : absolute;
    }

    .logo-img {
        width     : 100px;
        margin    : 0 auto;
        display   : block;
    }

    .headingText {
        color    : var(--text-color);
        font-size: 1rem;
    }

    .landingpage-text-container {
        padding-top: 5%;
    }

    .dashboardSummaryText {
        color    : var(--main-font-color);
        font-size: var(--font-medium);
        height   : 21%;
        overflow : hidden;
    }

    .purple-btn {
        background-color   : var(--primary-color-button);
        border-radius: 4px !important;
        border-color : var(--primary-color-button) !important;
        font-size    : 12px;
        padding      : 11px !important;
        // width: 195px !important;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin: 0px 11px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
        
    }

    .home-dqr {
        position: relative;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: wrap !important;
    }

    .dqr-content {
        width             : 280px;
        height            : 100vh;
        // display           : flex;
        // flex-direction    : column;
        // justify-content   : center;
        // align-items       : center;
        transform         : skewX(-2deg);
        position          : relative;

        &:after {
            position              : absolute;
            z-index               : -1;
            content               : "";
            top                   : 0;
            right: -20px;
            height                   : 100%;
            width                    : 100%;
            //background       : linear-gradient(180deg, #0a1427, #0a142754);
            // background-image      : linear-gradient(to bottom, #232060E8, #232060E8, #232060E8, #232060E8, #232060E8);
            // background: transparent radial-gradient(circle at right top, #3f3b77db , #363564b8) 0% 0% no-repeat padding-box;
            background: var(--homepage-lineargradient-afterbgcolor) 0% 0% no-repeat padding-box;
            -webkit-transform        : skewX(-10deg);
            -moz-transform           : skewX(-10deg);
            -ms-transform            : skewX(-10deg);
            transform                : skewX(-10deg);
            border-width             : 4px;
            border-style             : solid;
            border-left              : 0;
            border-bottom            : 0;
            border-top               : 0;
            border-right-color       : var(--homepage-border-color);
        }

        &:before {

            content : "";
            position: absolute;
            left    : 15px;
            top     : 0;
            height  : 100%;
            width   : 0%;
            background-image: var(--homepage-lineargradient-beforebgcolor);

            //background       : linear-gradient(243deg, #0a1427, #0a142754);
            -webkit-transform: skewX(-10deg);
            -moz-transform   : skewX(-10deg);
            -ms-transform    : skewX(-10deg);
            transform        : skewX(-10deg);
            border-width     : 4px;
            border-style     : solid;
            border-right     : 0;
            border-bottom    : 0;
            border-top       : 0;
            border-left-color: var(--homepage-border-color);
        }

        .img-dqr {
            position : absolute;
            left: 0%;
            top: 26%;
            transform: skewX(2deg);
        }

        .intImg{
            margin-left: 20px !important;
        }
    }

    .sum-content {
        position       : relative;
        width          : 280px;
        height         : 100vh;
        // display        : flex;
        // flex-direction : column;
        // justify-content: center;
        // align-items    : center;
        transform      : skewX(-2deg);
        .admin-main {
            position: absolute;
            top     : 10px;
            right   : 0px;
        }

        .sumry-content {
            position: absolute;
            left: 21%;
            top: 31%;
        }

        &:after {
            position           : absolute;
            z-index            : -1;
            content            : "";
            right              : -30px;
            top                : 0;
            height             : 100%;
            width              : 100%;
            background: var(--homepage-lineargradient-afterbgcolor) 0% 0% no-repeat padding-box;
            -webkit-transform  : skewX(-10deg);
            -moz-transform     : skewX(-10deg);
            -ms-transform      : skewX(-10deg);
            transform          : skewX(-10deg);
            border-width       : 4px;
            border-style       : solid;
            border-left        : 0;
            border-bottom      : 0;
            border-top         : 0;
            border-right-color : var(--homepage-border-color);
        }

        &:before {
            content : "";
            position: absolute;
            left    : 30px;
            top     : 0;
            height  : 100%;
            width   : 0%;
            // background-image: linear-gradient(to bottom,
            //         #232060e8,
            //         #232060e8,
            //         #232060e8,
            //         #232060e8,
            //         #232060e8);
            background-image: var(--homepage-lineargradient-beforebgcolor);
            //background       : linear-gradient(243deg, #0a1427, #0a142754);
            -webkit-transform: skewX(-10deg);
            -moz-transform   : skewX(-10deg);
            -ms-transform    : skewX(-10deg);
            transform        : skewX(-10deg);
            border-width     : 4px;
            border-style     : solid;
            border-right     : 0;
            border-bottom    : 0;
            border-top       : 0;
            border-left-color: var(--homepage-border-color);
        }
    }

    .home-nav {
        display    : flex;
        align-items: center;
    }

    #dropdownhome {
        .btn {
            background-color: transparent;
            border          : 0;
            border-radius   : 0;
            display         : flex;
            align-items     : center;

            p {
                text-transform: capitalize;
                margin-bottom : 0;
            }
        }


        .dropdown-menu {
            z-index              : 1001;
            background-color     : var(--dropdown-bg-color);
            border               : 1px solid var(--dropdown-border-color);
            //width           : 100%;
            border-radius        : 10px;
            margin               : 0;
            margin-top           : 8px;

            li {
                padding      : 4px 8px;
                .dropdown-item {
                    text-transform  : capitalize;
                    font-size       : var(--font-small);
                    z-index         : 999;
                    color           : var(--fonts-white-shade) !important;
                    background-color: var(--dropdown-item-bg) !important;
                    width           : 93%;
                    margin          : 0 auto;
                    border-radius   : 10px;
                    border          : 1px solid var(--dropdown-border-color);
                    padding         : 0.25rem 2.5rem 0.25rem 0.5rem;
                }
            }
        }
    }

    .admin {
        a {
            color: var(--home-main-color) !important;
        }
    }

    .home-page-navbar {
        position: absolute;
        width   : 100%;
        z-index : 9;
        top     : 0;
    }

    .btn-bg-transparent {
        background-color: transparent !important;
        border-color    : transparent !important;
    }

    .selectDashboardDropdown button,
    .selectDashboardDropdown button:focus {
        text-transform  : capitalize;
        font-weight     : 500;
        border-radius   : 4px;
        font-size       : var(--font-small);
        color           : var(--home-btn-color);
        align-items     : center;
        display         : flex;
        justify-content : space-between;
        margin-bottom   : 20px !important;
        padding-bottom  : 3px !important;
        padding-top     : 3px !important;
        background-color: var(--light-white-btn-color) !important;
        border-color    : var(--light-white-btn-color) !important;
    }

    .lang-dropdown .nav-link span {
        background-image   : url("../images/icons/language.png");
        padding            : 10px 12px;
        background-repeat  : no-repeat;
        background-position: center;
    }

    .dashboardNewFooter {
        position: absolute;
        bottom  : 1%;
        left    : 5%;
        width   : 100%;
    }
}



@media only screen and (min-width: 1920px) {
    .home-main .dashboardSummaryText {
        height: 22%;
    }
}

