.dqr-page {
  background-color: var(--primary-bg-color);
  position        : relative;

  .totalicons{
    right: 17px !important;
  }
}

#progtabwrapper,.dqr-page .dqr{
	height: calc(100vh - 120px) !important;
  height: 100vh;
    overflow-y: auto;
	overflow-x: hidden;
}

.dqr-page .dqr,.dynamic-modules-section{
	height: calc(100vh - 56px) !important;
    overflow-y: auto;
	overflow-x: hidden;
}


.dqr-main {
  background-color: var(--bg-main-color);
  // height: 100vh !important;
 
}

.summary-dqr {
  background-color: var(--bg-main-color);
  position        : relative;
  margin-bottom: 44px !important;

  p {
    font-size: var(--font-size-p-small-text) !important;
  }

  .dqr-summary-text-collapse {
    color: var(--innertext-font-color) !important;
  }

  .dqr-summary-btn:focus.collapsed,
  .dqr-summary-btn:hover.collapsed{
    background-color: transparent !important;
    border: 1px solid var(--border-grey-color) !important;
  }
}

.summary-btn {
  background-color: var(--primary-bg-color);
  font-size       : var(--font-size-chart-sidebar-heading);
  color           : var(--fonts-white-shade);
  border-color    : var(--border-grey-color);
  border-radius   : 50px;

  &:hover,
  &:active,
  &:focus,
  &.focus,
  &:checked {
    border-radius   : 50px;
    color           : var(--color-white);
    box-shadow      : none !important;
    border-color    : var(--border-grey-color) !important;
  }
}

.dqr-charts {
  max-width     : 100%;
  padding-bottom: 50px !important;
  // overflow-y: auto;
}

.fp-users{
  display: flex;
  flex-direction: column;
}

.dqr-summary-btn {
  // background-color: var(--primary-bg-color) !important;
  background      : transparent;
  font-family     : var(--heading-font-family);
  color           : var(--innertext-font-color) !important;
  font-size       : var(--font-size-p-normal-text);
  border-radius   : 10px !important;
  transition      : all 0.5s;
}

.dqr-summary-btn.not-collapsed .summary-arrow {
  transform: rotate(90deg);
}

.dqr-summary-btn.not-collapsed {
  background-color: transparent !important;
  background      : transparent;
  font-family     : var(--heading-font-family);
  color           : var(--innertext-font-color) !important;
  font-size       : var(--font-size-p-normal-text);
  border-radius   : 10px 10px 0 0 !important;
  border: 1px solid var(--border-grey-color) !important;
}

.dqr-summary-collapse {
  border-radius: 0px 10px 10px 10px !important;
  background-color: transparent !important;
  border: 1px solid var(--border-grey-color) !important;
}

.not-available {
  background-color: var(--primary-bg-color);
  color           : var(--text-color);
  text-align      : center;
  height          : 2.5rem;
  margin          : 2rem;
  padding         : 10px;
  border-radius   : 8px;
}


.summary-dqr-page {
  .score {
    .totalscore {
      font-size: var(--font-size-heading);
    }
  }
}



.summary-dqr-page .overview-card .dqr-card-body .inner-card .inner-card-body .complete-list li,
.summary-dqr-page .overview-card .dqr-card-body .inner-card .inner-card-body .internal-list li,
.summary-dqr-page .overview-card .dqr-card-body .inner-card .inner-card-body .consistency-list li {
  display: flex;
}


.pickuserbtn .btn {
  background-color: var(--footer-components-color) !important;
  border-color    : var(--footer-components-color) !important;
}

#modal-anc .anchor-map .l-map {
  height          : calc(100vh - 140px) !important;
  background-color: transparent;
}

.dqr-main2{
  background-color: var(--bg-main-color) !important;

  .chart-dqrborder .card-body:first-child{
      border: 1px solid var(--border-grey-color);
          border-radius: 5px !important;
          opacity: 1;
          margin-left: 13px;
          margin-right: 13px;
          margin-bottom: 4%;
  }

  .dqr-greyvue .vue-treeselect__control{
      background-color: var( --grey-color-button) !important;
      border: 1px solid var( --grey-color-button) !important;
      
  }

  
  .border-bottom{
      border: 1px solid transparent !important;
  }

  .table thead{
      z-index: 1 !important;
  }

  .analytic-charts{
      border: 1px solid transparent !important;
      margin-bottom: -27px !important;
     }

     .summary-chart-title{
      height: 22px;
    }

    .b-sidebar-outer {
      z-index: 1000 !important;
  }   
}

.pieChart-col.border-left{
    border-left: 1px solid var(--border-grey-color) !important;
}



// responsive css

@media (min-width: 768px) and (max-width: 1024px) {
  .dqr-page {
    .dqr {
      margin-left: 0;
      height     : auto;
    }
  }

  .dqr-main {

    height: 100vh;

  }
}

@media (min-width: 1366px) {
  .dqr-page {
    .dqr {
      margin-left: 250px;
      margin-top: 60px;
    }
  }

  .dqr-page .dqr{
    #scrollTop{
      margin-top: 0% !important;
    }
  }
}

@media (min-width: 1536px) {
  .dqr-page {
    .dqr {
      margin-left: 250px;
    }
  }
}

@media (min-width: 1920px) {
  .dqr-page {
    .dqr {
      margin-left: 306px;
    }
  }
}

