.dqr-page {
  background-color: var(--primary-bg-color);
  position        : relative;
}

.dqr-main {
  background-color: var(--chart-container-color);
  // height          : 90vh;
  // overflow-y      : auto;
  // overflow-x      : hidden;
}

.dqr-breadcrumbs {
  .breadcrumb {
    background-color: var(--chart-container-color);
    color           : antiquewhite;
    padding         : 0 !important;
    margin          : 0 !important;
    font-size       : var(--font-size-p-small-text) !important;

    a {
      color: #6c757d;
    }

    .active {
      color: white;
    }
  }
}

.summary-dqr {
  background-color: var(--chart-container-color);
  position        : relative;
  color           : antiquewhite;
  margin-bottom   : 10px;

  p {
    font-size: var(--font-size-p-small-text) !important;
  }

  .dqr-summary-text-collapse {
    color: var(--innertext-font-color) !important;
  }
}

.summary-btn {
  background-color: var(--primary-bg-color);
  font-size       : var(--font-size-chart-sidebar-heading);
  color           : var(--fonts-white-shade);
  background-color: var(--chart-container-color);
  border-color    : var(--chart-container-color);
  border-radius   : 50px;

  &:hover,
  &:active,
  &:focus,
  &.focus,
  &:checked {
    border-radius   : 50px;
    color           : var(--color-white);
    box-shadow      : none !important;
    background-color: var(--chart-container-color) !important;
    border-color    : var(--chart-container-color) !important;
  }
}

.dqr-charts {
  max-width     : 100%;
  padding-bottom: 50px !important;
}

.dqr-summary-btn {
  background-color: var(--primary-bg-color) !important;
  background      : transparent;
  font-family     : var(--heading-font-family);
  color           : var(--innertext-font-color) !important;
  font-size       : var(--font-size-p-normal-text);
  border-radius   : 10px !important;
  transition      : all 0.5s;
}

.dqr-summary-btn.not-collapsed .summary-arrow {
  transform: rotate(90deg);
}

.dqr-summary-btn.not-collapsed {
  background-color: var(--primary-bg-color) !important;
  background      : transparent;
  font-family     : var(--heading-font-family);
  color           : var(--innertext-font-color) !important;
  font-size       : var(--font-size-p-normal-text);
  border-radius   : 10px 10px 0 0 !important;
}

.dqr-summary-collapse {
  border-radius: 0px 10px 10px 10px !important;
}

.not-available {
  background-color: var(--primary-bg-color);
  color           : var(--color-white);
  text-align      : center;
  height          : 2.5rem;
  margin          : 2rem;
  padding         : 10px;
  border-radius   : 8px;
}

.border-bottom {
  border-bottom: 2px solid var(--border-color) !important;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .dqr-page {
    .dqr {
      margin-left: 0;
      height     : auto;
    }
  }

  .dqr-main {

    height: 100vh;

  }
}

@media (min-width: 1366px) {
  .dqr-page {
    .dqr {
      margin-left: 250px;
    }
  }
}

@media (min-width: 1536px) {
  .dqr-page {
    .dqr {
      margin-left: 250px;
    }
  }
}

@media (min-width: 1920px) {
  .dqr-page {
    .dqr {
      margin-left: 306px;
    }
  }
}


.summary-dqr-page {
  background-color: var(--primary-bg-color);

  .score {
    .totalscore {
      font-size: var(--font-size-heading);
    }
  }
}



.summary-dqr-page .overview-card .dqr-card-body .inner-card .inner-card-body .complete-list li,
.summary-dqr-page .overview-card .dqr-card-body .inner-card .inner-card-body .internal-list li,
.summary-dqr-page .overview-card .dqr-card-body .inner-card .inner-card-body .consistency-list li {
  display: flex;
}


.pickuserbtn .btn {
  background-color: var(--footer-components-color) !important;
  border-color    : var(--footer-components-color) !important;
}

#modal-anc .anchor-map .l-map {
  height          : calc(100vh - 140px) !important;
  background-color: transparent;
}

