#createModuleModal {
  .modal-header {
    background: transparent;
    color     : var(--text-color);
    padding   : 1rem;

  }

  .btn-primary.submitbtn.submit-create{
    background-color: var(--black-btn-color) !important;
    border-color: var(--black-btn-color) !important;
  }

  .reset-create{
    background-color: var(--grey-color-button) !important;
    border-color: var(--grey-color-button) !important;
  }

  .custom-select{
    background-color: var(--sidebar-main-active-color) !important;
    
  }

  .modal-content{
    border: none !important;
  }

  .logoSelect-dropdown button{
    background-color: var(--sidebar-border-left) !important;
    border-color: var(--sidebar-border-left) !important;
    // color: var(--text-color) !important;
    border: none !important;
    border-radius: 5px;
  }
  .btn-primary.submitbtn{
    background-color: var(--grey-color-button) !important;
    border-color: var(--grey-color-button) !important;
  }
  .dropdown-item{
      background-color: var(--signoff-bottom-card);
  }

  .modal-dynamic .blue-btn{
  font-size: 0.875rem;
  margin-right: 2%;
}

  .vue-treeselect__placeholder{
      color: var(--text-font-color) !important;
  }

    .selectItemsDiv{
        border: none !important;
    }

    input{
        border: 1px solid transparent !important;
        border-radius: 5px;
        color: var(--home-main-color);
    }

}

.mainCardBodyWrap {
  height    : calc(100vh - 157px);
  overflow  : hidden;
  overflow-y: scroll;
  padding   : 0px !important;

  .card {
    color           : var(--text-color);
    background-color: var(--signoff-top-card);
  }
}

.textTitleHeading {
  font-size  : 0.875rem;
  font-weight: 500;
}

.chartIconsDiv {
  margin          : 10px;
 

  .form-group {

    display    : flex;
    flex-wrap  : nowrap;
    align-items: center;
  }

  .input-field {
    min-width       : 70px;
    color           : var(--color-white);
    background-color: var(--signoff-bottom-card);
    border-color    : var(--signoff-bottom-card) !important;
  }

  .input-tag {
    padding-right: 5px;
    padding-left : 5px;
  }

  .card-body {
    padding: 0px;
  }
}

// responsive css
@media (min-width: 1200px) {
  #myModalEdit .modal-xl {
    max-width: 100%;
    margin   : 0;
  }
}

