.header-body {
	background-color: var(--new-header-color);
	// position: fixed;
	
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 999;
	max-height: 60px;
	position: fixed;
	box-shadow: 0px 3px 6px #00000014;

	opacity: 1;

	.row {
		width: 100%;
	}

	.logo-of-dashboard {
		width: 25px;
	  }
	  .logo-img-header{
		  // width: 18px;
		  background-color: transparent;
		  border:0;
		  width: 35px;
		  height: 35px;
		  object-fit: scale-down;
		 
	  }

	  li.dropDownBorderBottomColor button , 
	  li button.dropdown-item {
		font-size: 12px;
	   
		padding: 10px;
		}

	li.dropDownBorderBottomColor button img , 
	li button.dropdown-item img{
		height: 15px;
	}

	.summary-logoimg {
		display: flex;
		align-items: center;

		.homelogo-img {
			width: 20px;
		
			&:hover {
				cursor: pointer;
			}
		}
	}

	
	

	.toggle-menu {
		display: none;
	}
	
	
	.title-header {
		color: var(--main-font-color);
	}

	.profile {
		float: right;
		display: none;
	}

	 
}

.explore-col,
	.explore-col:hover,
	.explore-col:focus {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		height: 75%;
		.dropdown-toggle-no-caret,
		.dropdown-toggle-no-caret:hover,
		.dropdown-toggle-no-caret:focus {
			background: transparent !important;
			border: 0 !important;
			padding: 0 !important;
		}
		.dropdown-menu,
		.dropdown-menu:hover,
		.dropdown-menu:focus {
			background-color: var(--grey-color-button) !important;
			padding: 0px 20px;
			top: -10px !important;
			.dropdown-item,
			.dropdown-item:hover,
			.dropdown-item:focus {
				color: var(--text-color) !important;
				background-color: var(--grey-color-button) !important;
				padding-left: 0px;
			}
		}
	}


#nav-dropdown {
	background-color: transparent;
	color: var(--fonts-white-shade);
	border: 1px solid transparent;
	border-bottom: 1px solid var(--color-white);
	border-radius: 0;
	// display: flex;
	// align-items: center;
}

.dropdown-col > #dropdownnav.show {
	.btn {
		background-color: var(--dropdown-item-bg);
		border: 1px solid var(--dropdown-border-color);
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}
}

.explore-btn {
	background-color: var(--export-btn-color);
	border-color: var(--export-btn-color);
	border-radius: 50px;
	display: flex;
	flex-direction: row;
	color: var(--main-font-color);

	&:hover,
	&:active,
	&:focus,
	&.focus,
	&:checked {
		border-radius: 50px;
		color: var(--color-white);
		box-shadow: none !important;
		background-color: var(--export-btn-color) !important;
		border-color: var(--export-btn-color);
	}
}


.btn-bg-transparent {
	background-color: transparent !important;
	border-color: transparent !important;
}

.ui_defaults_reset_fe0yv{
	line-height: 34px;
}

.admin-component {
  .custom-control-label::after,
  .custom-control-label::before {
    top: 1rem;
  }
}

.new-gradbtn {
    letter-spacing: 0.6px;
    color: var(--main-font-color);
    opacity: 1;
    background: var(--main-header-color) !important;
    opacity: 1;
    border: none !important;
    border-radius: 50px !important;
}


// responsive css

@media (min-width: 768px) and (max-width: 1024px) {
	.toggle-menu {
		display: block;
		background-color: transparent !important;
		border-color: transparent !important;
	}

	.explore-btn,
	.trophy-icon,
	.setting-icon {
		color: var(--main-font-color) !important;
		//margin-right: 15px;
	}

	.profile {
		display: block;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.langChange,.setHeader 
	{
		.btn-secondary {
			color: var(--text-color);
			background-color: transparent !important;
			border-color: transparent !important;
		}
	}

	.setHeader {
		.dropdown-menu{
			// background-color: var(--footer-components-color) !important;
			padding-top: 10px !important;
			.dropdown-item{
				color: var(--text-color);
			}
		}
	}
	body[data-theme~="grey"]
	{
		.setHeader {
			.dropdown-menu{
				background-color: var(--footer-components-color) !important;
				
				
			}
		}
	
	}

	body[data-theme~="dark"]
	{
		.setHeader {
			.dropdown-menu{
				background-color: var(--footer-components-color) !important;
				
				
			}
		}
	
	}

	.explore-col {
		display: none;
	}

	.explore-btn {
		.dropdown-item {
			display: flex;
			color: var(--fonts-white-shade) !important;
			//justify-content: space-evenly;
		}
	}

	#dropdown-profile {
		float: right;

		.btn {
			background-color: transparent;
			border: none;
		}

		.font-size .active-btn,
		.font-size .active-btn:hover {
			background: var(--fonts-white-shade);

			color: var(--dropdown-bg-color);
		}

		.dropdown-toggle::after {
			display: none;
		}

		.dropdown-menu {
			background-color: var(--dropdown-bg-color);
			color: var(--fonts-white-shade);
			text-align: center;
			width: 100%;
			border-radius: 10px;

			.dropdown-item {
				font-size: var(--font-size-p-small-text);
				color: var(--fonts-white-shade) !important;
				//background-color: var(--dropdown-item-bg);
				width: 80%;
				margin: 0 auto;
				//border:1px solid var(--dropdown-border-color);
				border-bottom: 1px solid var(--dropdown-border-color);
				text-align: left;
				padding: 5px 3px;

				// &:last-child{
				//     border: none;
				// }
			}
		}
	}
}

@media (min-width: 1920px) {
	.summary-title {
		font-size: var(--font-module);
		font-weight: bold;
		color: var(--main-font-color) !important;
	}

	#dropdownnav {
		.btn {
			p {
				font-size: var(--font-module);
				color: var(--main-font-color);
			}
		}
	}

	.explore-btn {
		font-size: var(--font-home-module);
		color: var(--main-font-color);
	}
}

@media (min-width: 1536px) {
	.summary-title {
		font-size: var(--font-p);
		font-weight: bold;
		color: var(--main-font-color) !important;
	}

	#dropdownnav {
		.btn {
			p {
				font-size: var(--font-p);
				color: var(--main-font-color);
			}
		}
	}

	.explore-btn {
		font-size: var(--font-p);
		color: var(--main-font-color);
	}
}

@media (min-width: 1366px) {
	.summary-title {
		font-size: var(--font-sidebar);
		font-weight: bold;
		color: var(--main-font-color) !important;
	}

	#dropdownnav {
		.btn {
			p {
				font-size: var(--font-sidebar);
				color: var(--main-font-color);
			}
		}
	}

	.explore-btn {
		font-size: var(--font-sidebar);
		color: var(--main-font-color);
	}
}