
.analytic-charts {
  display: flex;
  flex-direction: column;
  // height: calc(90vh - 45px);
  overflow-y: auto;
  margin-bottom: 25px !important;
  border-radius: 5px !important;
  border: 1px solid var(--border-grey-color) !important;
}

.b-table-sticky-header>.table.b-table>thead>tr>th {
  position: inherit !important;
}

.b-table-sticky-header table{
  position: relative;
}

.b-table-sticky-header thead{
  position: sticky;
  top: -1px;
}


.tables {
  color: var(--color-white);

  th {
    font-size: var(--font-size-chart-sidebar-heading);
  }

  tr {
    font-size: var(--font-small);
  }
}


.gauge {
  height: 70px !important;
  width: 80px !important;

  .highcharts-container {
    height: 70px !important;
    width: 80px !important;
  }

  .highcharts-root {
    height: 70px !important;
    width: 80px !important;
  }

  .highcharts-series-group {
    // display: none !important;
  }

  .highcharts-background {
    fill: transparent !important;
  }

  .highcharts-pane {
    stroke: transparent !important;
  }

  .highcharts-axis-labels {
    display: none;
  }

  .highcharts-tracker {
    height: 60px !important;
    width: 60px !important;
    position: absolute;
    left: 18% !important;
    top: 20% !important;
    opacity: 1 !important;
  }
}

.highcharts-background {
  fill: transparent !important;
}


.highcharts-button{ 
  .highcharts-button-box{
    fill: var(--footer-components-color) !important;
    stroke: var(--footer-components-color) !important;
    border: var(--footer-components-color) !important;
  }
  text{
    fill: var(--innertext-font-color) !important;
  }
   
}

//highcharts tooltip

.highcharts-tooltip-box {
  fill: var(--text-color) !important;
  fill-opacity: 0.6;
  stroke-width: 0;
}

.highcharts-tooltip text {
  fill: var(--color-black) !important;
  // text-shadow: 0 0 3px black;
}

.highcharts-scrollbar-button{
  fill: var(--sidebar-main-active-color) !important;
  stroke-opacity: 0.1;
}

.highcharts-yaxis-labels text,
.highcharts-xaxis-labels text,
.highcharts-yaxis text,
.highcharts-axis-title,
.highcharts-line-series text, .highcharts-legend-item text,.highcharts-label text{
    color: var(--home-main-color) !important;
    fill: var(--home-main-color) !important;
    font-weight: 400 !important;
    // text-decoration: none !important;
}

.highcharts-title {
  fill: var(--home-main-color) !important;
}


.highcharts-scrollbar-thumb {
  fill  : var(--sidebar-main-active-color) !important;
  height: 9px !important;
  stroke-opacity: 0.1;
}

.highcharts-scrollbar-track {
  fill: transparent !important;
  stroke-opacity: 0.1;
}

.highcharts-legend-box{
  stroke: transparent !important;
}

.leaflet-control-fullscreen a {
  background         : url(../images/icons/map-full.png) no-repeat 0 0 !important;
  background-size    : 16px 16px !important;
  background-position: center !important;
  background-color   : var(--sidebar-main-active-color) !important;
}

.highcharts-label text{
//    fill: unset !important;
    text-decoration: none !important;
}

.highcharts-legend-item-hidden text {
    color      : var(--legend-inactive-color) !important;
    fill       :  var(--legend-inactive-color) !important;
    font-weight: normal !important;
}

.highcharts-yaxis-grid .highcharts-grid-line{
  stroke: transparent !important;
 
 
}

.highcharts-axis .highcharts-axis-line{
  stroke: var(--border-grey-color) !important;
  opacity: 0.2;
  stroke-width: 1px !important;
}

.highcharts-text-outline {
  fill        : transparent !important;
  stroke      : transparent !important;
  stroke-width: 0px !important;
  font-weight : 100px !important;
}


// responsive css

@media only screen and (min-width: 1920px) {
  .delivery-title {
    font-size: var(--font-medium) !important;
    color: var(--innertext-font-color) !important;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .analytic-charts {
    display: flex;
    flex-direction: column;
    height: auto !important;
    overflow-y: auto;
  }
}
