.interactive-page {
  background-color: var(--primary-bg-color);
  height          : 90vh;
  padding-top     : 60px;

  .vue-treeselect__list-item.vue-treeselect__indent-level-0{
    height: 130px;
    overflow: auto;
    padding-bottom: 20px;
  }

  .interactive {
    background-color: var(--primary-bg-color);
    height          : calc(100vh - 61px);
    //height: calc(92vh - 0px);
    //height     : calc(94vh - 6px);
    color           : var(--main-font-color);

    .interactive-card {
      background-color: var(--chart-container-color);
      height          : calc(92vh - 25px);
      overflow        : hidden;

      .chart {
        .card-header {
          margin-top      : 4px;
          background-color: transparent;
        }
      }

      .interactive-card-title {
        font-size: var(--font-size-p-normal-text);

        .fav-btn {
          background-color: var(--footer-components-color) !important;
          font-size       : var(--font-size-p-normal-text);
        }
      }

      .accordian-col {
        max-height: calc(92vh - 158px);
        overflow-y: auto;
        margin-left: -9%;
      }

      .main-title {
        font-size    : var(--font-size-p-normal-text);
        border-top   : 2px solid var(--border-color);
        border-bottom: 2px solid var(--border-color);

        &:focus,
        &.focus {
          background-color  : transparent !important;
          //border-color    : transparent !important;
          box-shadow        : none !important;
        }
      }

      .main-title:after {
        content    : "\f0da";
        font-family: "FontAwesome";
        position   : absolute;
        right      : 36px;
      }

      .main-title.not-collapsed:after {
        content    : "\f0d7";
        font-family: "FontAwesome";
      }

      .data-acc {
        border-top: 1px solid var(--border-color);
      }

      .period-acc {
        border-bottom: 1px solid var(--border-color);
      }

      .indi {
        position: relative;

        .btn {
          background-color: var(--footer-components-color) !important;
          border          : 0;
          text-align      : left;
          font-size       : var(--font-size-p-small-text);
          position        : relative;
        }

        .dropdown-toggle::after {
          position: absolute;
          right   : 18px;
          top     : 13px;
        }

        .dropdown-menu {
          z-index         : 1009;
          background-color: var(--dropdown-bg-color);
          border          : 1px solid var(--dropdown-border-color);
          width           : 100%;
          border-radius   : 10px;
          margin          : 0;
          margin-top      : 1px;

          .dropdown-item {
            font-size       : var(--font-size-p-small-text);
            z-index         : 1000;
            color           : var(--fonts-white-shade) !important;
            background-color: var(--dropdown-item-bg);
            width           : 90%;
            margin          : 0 auto;
            border          : 1px solid var(--dropdown-border-color);
            overflow: hidden;
            white-space: pre-wrap;
            text-overflow: ellipsis;
          }
        }
      }

      .period {
        position: relative;

        .btn {
          background-color: var(--footer-components-color) !important;
          border          : 0;
          text-align      : left;
          font-size       : var(--font-size-p-small-text);
          position        : relative;
        }

        .dropdown-toggle::after {
          position: absolute;
          right   : 18px;
          top     : 13px;
        }

        .dropdown-menu {
          z-index         : 1009;
          background-color: var(--dropdown-bg-color);
          border          : 1px solid var(--dropdown-border-color);
          width           : 100%;
          border-radius   : 10px;
          margin          : 0;
          margin-top      : 1px;

          .dropdown-item {
            font-size       : var(--font-size-p-small-text);
            z-index         : 1000;
            color           : var(--fonts-white-shade) !important;
            background-color: var(--dropdown-item-bg);
            width           : 90%;
            margin          : 0 auto;
            border          : 1px solid var(--dropdown-border-color);
          }
        }
      }

      .data-btns {
        display  : flex;
        font-size: var(--font-size-p-small-text);

        .data-btn-item {
          .custom-control-label {
            padding-top: 4px;

            &:hover {
              cursor: pointer !important;
            }
          }

          .custom-control-input {

            &:focus,
            &.focus {
              background-color   : transparent !important;
              // border-color    : transparent !important;
              box-shadow         : none !important;
            }
          }

          .custom-control-input:checked~.custom-control-label::before {
            color           : var(--fonts-white-shade);
            border          : 2px solid var(--fonts-white-shade);
            background-color: var(--chart-container-color);
          }

          .custom-control-input:checked~.custom-control-label:after {
            // background-image: none !important;
            border: 0;
          }

          .custom-control-label::before {
            background-color: var(--chart-container-color);
            border          : 3px solid var(--export-btn-color);
          }
        }

        .custom-control {
          min-width: fit-content;
        }
      }

      .search-input {
        background-color: var(--chat-user-receiver-bg-color);
        font-size       : var(--font-size-p-small-text);
        color           : var(--fonts-white-shade);

        &:focus {
          box-shadow: none;
        }
      }

      .left-data,
      .right-data,
      .left-year-data,
      .right-year-data {
        background-color: var(--chat-user-receiver-bg-color);
        min-height      : 180px;
        max-height      : 180px;
        overflow        : auto;
        font-size       : var(--font-small);
        border-radius   : 8px;
      }

      .left-year-data,
      .right-year-data {
        min-height: 160px;
        max-height: 160px;
      }

      .med-list {
        .med-list-item {
          position: relative;
          color   : var(--color-white);

          .move-txt {
            display: none;
          }

          &:hover {
            cursor          : pointer;
            //opacity: 0.5;
            display         : flex;
            align-items     : center;
            //padding: 6px;
            color           : var(--border-color);
            background-color: var(--chart-container-color);
            font-family     : var(--body-font-family);
            overflow-wrap: anywhere;
            .move-txt {
              display         : block;
              color           : var(--color-white) !important;
              position        : absolute;
              right           : 1rem;
              // padding-left: 10px;
              // padding-right: 10px;
              transition      : all 0.5s;
            }
          }
        }
      }

      .year-list {
        .year-list-item {
          position: relative;
          color   : var(--color-white);

          .move-txt {
            display: none;
          }

          &:hover {
            cursor          : pointer;
            //opacity: 0.5;
            display         : flex;
            align-items     : center;
            padding         : 6px;
            color           : var(--border-color);
            background-color: var(--chart-container-color);

            .move-txt {
              display         : block;
              color           : var(--color-white) !important;
              position        : absolute;
              right           : 1rem;
              // padding-left: 10px;
              // padding-right: 10px;
              transition      : all 0.5s;
            }
          }
        }
      }

      .year-btn-left,
      .year-btn-right {
        background-color: var(--footer-components-color) !important;
        font-size       : var(--font-size-p-normal-text);
        border          : none;
      }

      .move-btn-left {
        background-color: var(--footer-components-color) !important;
        font-size       : var(--font-size-p-normal-text);
        border          : none;

        &::after {
          content    : "\f101";
          font-family: "FontAwesome";
          margin-left: 5px;
        }
      }

      .move-btn-right {
        background-color: var(--footer-components-color) !important;
        font-size       : var(--font-size-p-normal-text);
        border          : none;

        &::after {
          content    : "\f100";
          font-family: "FontAwesome";
          margin-left: 5px;
        }
      }

      .update-btn {
        background-color: var(--footer-components-color) !important;
        font-size       : var(--font-size-p-normal-text);

        &:hover,
        &:active,
        &:focus,
        &.focus,
        &:checked {
          color     : var(--color-white);
          box-shadow: none !important;
        }
      }

      .chart {
        background-color: var(--map-elements-bg-color);
        height          : calc(92vh - 120px);

        .card-body {
          padding-top: 5px;
        }

        .card-header {
          display: flex;
        }

        .chart-type {
          font-size     : var(--font-size-p-normal-text);
          text-transform: capitalize;
          font-weight   : 500;
          color         : var(--fonts-white-shade);
        }

        .configure {
          height: calc(92vh - 275px);

          .configure-chart {
            height: 100%;

            .chartHeight{
              height: 100%;
            }

            .summary-highchart-body {
              background-color: var(--map-elements-bg-color) !important;

              .chart-body {
                margin-left: 7px;

                .maincharts {
                  padding-left: 5px;
                }
              }

              .card-header {
                display       : none;
                padding-bottom: 0px;
              }

              .card-body {
                padding-top : 0 !important;
                padding-left: 0;
              }
            }

            .charticon-overlay {
              background-color: transparent;
            }
          }

          .conf-item {
            background-color: var(--dropdown-item-bg);
          }
        }

        .layout-info {
          background-color: var(--chart-container-color);
          font-size       : var(--font-size-p-normal-text);
          max-height: 80px;
          overflow-y: auto;

          .layout-item {
            background-color: var(--map-elements-bg-color);
            color           : var(--fonts-white-shade);
          }

          .series {
            border-right : 1px solid var(--border-color);
            border-bottom: 1px solid var(--border-color);
            font-size    : var(--font-size-p-small-text);

            .series-title {
              min-width   : 106px;
              border-right: 1px solid var(--border-color);
            }

            .data {
              border-left: 1px solid var(--border-color);
            }
          }

          .category,
          .filter,
          .dimension {

            .category-title,
            .filter-title {
              min-width   : 106px;
              border-right: 1px solid var(--border-color);
            }

            font-size: var(--font-size-p-small-text);

            .data {
              border-left: 1px solid var(--border-color);
            }
          }

          .category,
          .filter {
            border-bottom: 1px solid var(--border-color);
          }
        }

        .layout {
          font-size  : var(--font-size-p-normal-text);
          font-weight: 500;
          color      : var(--fonts-white-shade);
        }
      }
    }

    #accordion-3 {
      height: 200px;

      .search-unit {
        .vue-treeselect__control {
          background-color: var(--footer-components-color) !important;
          font-size       : var(--font-size-p-normal-text);
          color           : var(--main-font-color);
          border          : 0 !important;

          .vue-treeselect__multi-value-item {
            border-radius   : 3px !important;
            background-color: var(--chart-container-color) !important;
            color           : var(--fonts-white-shade);

            .vue-treeselect__value-remove {
              border-left: none;
              color      : var(--fonts-white-shade);
            }
          }

          .vue-treeselect__input {
            color: var(--color-white)
          }
        }

        .vue-treeselect__menu {
          background-color: var(--dropdown-item-bg) !important;
          border          : 0;
          width           : 100%;
        }

        .vue-treeselect__option--highlight {
          background-color: var(--dropdown-bg-color);
          //width: 90%;
          margin          : auto;
        }
      }
    }
  }
  .vue-treeselect--has-value .vue-treeselect__multi-value{
    margin-bottom: -10px !important;
  }
}

.dataConfig{
  background-color: var(--chat-user-receiver-bg-color);
  min-height: 180px;
  max-height: 180px;
  overflow: auto;
  font-size: var(--font-small);
  border-radius: 8px;
}
.med-list-item {
  position: relative;
  color   : var(--color-white);

  .move-txt {
    display: none;
  }

  &:hover {
    cursor          : pointer;
    //opacity: 0.5;
    display         : flex;
    align-items     : center;
    //padding: 6px;
    color           : var(--border-color);
    background-color: var(--chart-container-color);
    font-family     : var(--body-font-family);
    overflow-wrap: anywhere;
    .move-txt {
      display         : block;
      color           : var(--color-white) !important;
      position        : absolute;
      right           : 1rem;
      // padding-left: 10px;
      // padding-right: 10px;
      transition      : all 0.5s;
    }
  }
}

@media (min-width:1366px) {

  // .maincharts{
  //   height: 280px;
  // }
  .configure-chart-text {
    padding-top : 10rem;
    padding-left: 19rem;
  }
}

@media (min-width:1600px) {

  // .maincharts{
  //   height: 386px;
  // }
  .configure-chart-text {
    padding-top : 13rem;
    padding-left: 25rem;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {

  .interactive-page .interactive {
    height: 100%;
  }

  .interactive-page .interactive .interactive-card {

    height: auto;

  }

  .interactive-page .interactive .interactive-card .chart {

    height: auto;
  }

  .interactive-page .interactive .interactive-card .chart .configure {
    height: calc(92vh - 479px);

  }
}


.periodtype {
  .form-control#periodType {
    color           : #fff;
    background-color: #343361;
    border          : 1px solid #343361;
  }
}

.searchable {
  color           : #fff;
  background-color: #343361;
  border          : 1px solid #343361 !important;

  &:focus {
    background-color: #343361;
    border          : 1px solid #343361 !important;
  }
}


#collapseThree.countrynew {
  .vue-treeselect {
    color           : #fff;
    background-color: #343361;
    border          : 1px solid #343361 !important;
  }

  .vue-treeselect__control {
    color           : #fff;
    background-color: #343361;
    border          : 1px solid #343361 !important;
  }
}


//  < !--:always-open="treeselect.alwaysOpen"-->

.countrynew {
  .vue-treeselect--open-below .vue-treeselect__menu {
    color           : #fff;
    background-color: #343361 !important;
  }

  .vue-treeselect__menu {
    color           : #fff;
    background-color: #343361 !important;
  }
}