.map-container {
  background-color: var(--chart-container-color);
  color: var(--text-color);
  border-radius: 10px;
  padding: 1.5rem;
  padding-top: 0.5rem;
  height: calc(90vh - 250px);
  position: relative;

  .card-header {
    border-bottom: 0;
    border-radius: 0;
    padding-bottom: 0;

    .map-country {
      text-transform: uppercase;
      font-size: var(--font-size-chart-sidebar-heading);
      margin-bottom: 0 !important;
      color: var(--innertext-font-color) !important;
      font-weight: 500;
    }
  }

  .map-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    
  }

  .map {
    background-color: var(--chart-body-color);
    border-radius: 10px !important;

    .map-icons {
      background-color: var(--map-elements-bg-color);
      width: fit-content;

      border-radius: 20px;
      display: flex;

      .map-icon {
        border-right: 1px solid var(--chart-body-color);

        .icon-img {
          padding-left: 10px;
          padding-right: 10px;
        }
      }
    }

    #dropdownmap {
      .btn {
        background-color: transparent !important;
        border: 0;
        border-bottom: 1px solid var(--color-white);
        border-radius: 0;
        font-size: 12px;
        color: var(--innertext-font-color) !important;
        width: 200px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &:hover,
        &:active,
        &:focus,
        &.focus,
        &:checked {
          color: var(--color-white);
          background-color: transparent !important;

          box-shadow: none !important;
        }
      }

      .dropdown-menu {
        z-index: 1001;
        background-color: var(--dropdown-bg-color);
        border: 1px solid var(--dropdown-border-color);
        width: 100%;
        border-radius: 10px;
        margin: 0;
        margin-top: -5px;

        .dropdown-item {
          background-color: var(--dropdown-item-bg);
          font-size: var(--font-size-p-small-text);
          z-index: 999;
          color: var(--fonts-white-shade) !important;
          width: 95%;
          margin: 0 auto;
          border: 1px solid var(--dropdown-border-color);
        }

       
      }

      .dropdown-toggle::after {
        margin-left: 2.5em;
      }
    }

    .dropdownmap-col>#dropdownmap.show {
      .btn {
        background-color: var(--dropdown-item-bg);
        border: 1px solid var(--dropdown-border-color);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        color: var(--innertext-font-color) !important;

      }
    }

    .l-map {
      height: calc(90vh - 414px);
      background-color: transparent;

      .leaflet-right .leaflet-control {
        margin-right: 0;

        .leaflet-control-zoom-out {
          margin-top: 10px !important;
        }
      }

      .leaflet-top .leaflet-control {
        margin-top: 7px !important;
      }

      .leaflet-bar a {
        background-color: var(--map-elements-bg-color) !important;
        color: var(--fonts-white-shade);
        border-bottom: none;
        width: 25px;
        height: 25px;
      }

      .leaflet-control-fullscreen a {
       
        background     :  url(../images/icons/map-full.png) no-repeat 0 0 !important;
       
      background-size: 16px 16px !important;
      background-position: center !important;
      background-color: var(--sidebar-main-active-color) !important;
}
      

      .mapactionbtn {
        border-radius: 5px;
        background-color: var(--map-elements-bg-color);

        i {
          color: var(--fonts-white-shade);
        }
      }

      // .leaflet-bottom{
      //     z-index: 10 !important;
      // }
      // #legend {
      //   //display: none;
      //   // background-color: var(--chart-container-color);
      //   // padding: 8px;
      //   // border-radius: 10px;
      //   // color: var(--innertext-font-color) !important;
      //   // z-index: -10 !important;
      //   // width: 165px;

      //   // .toggleLegend {
      //   //   padding-bottom: 3px;
      //   //   border-bottom: 1px solid var(--border-color);
      //   // }

      //   .descVal {
      //     &:hover {
      //       cursor: pointer;
      //       background-color: transparent;
      //     }

      //     .mapInputBox {
      //       background-color: transparent;
      //       border: 0;
      //       width: 20px;
      //       height: 20px;
      //       border-radius: 50% !important;
      //     }
      //   }
      // }

      .maplegend {
      

        .low-high {
          color: var(--fonts-white-shade);
        }
      }

      .play-content {
        .btn {
          background-color: var(--map-elements-bg-color);
          border: 0;
        }

        .btn-group {
          height: 32px;
        }

        .btn-group>.btn:first-child {
          border-top-left-radius: 20px;
          border-bottom-left-radius: 20px;
          border-right: 2px solid var(--color-white) !important;
          width: 61px;
        }

        .btn-group>.btn:nth-child(2) {
          border-right: 1px solid var(--color-white) !important;
          width: 61px;
        }

        .btn-group>.btn:nth-child(3) {
          border-left: 1px solid var(--color-white) !important;
          width: 61px;
        }

        .btn-group>.btn:last-child {
          border-top-right-radius: 20px;
          border-bottom-right-radius: 20px;
          border-left: 1px solid var(--color-white);
          width: 113px;
        }

        .form-group #selectYear {
          background-color: var(--chart-body-color);
          border: 0;
          border-radius: 15px;
          padding: 0px 10px 0 7px !important;
          color: var(--text-color);
        }

        .select-wrapper:after {
          display: none !important;
        }
      }

      // .mapDivLegend {
      //   width: 100%;
      //   position: relative !important;
      //   bottom: 0px;
      //   left: 1px;
      //   height: 100%;
      //   //background: rgb(24 23 54);
      //   color: var(--color-black) !important;
      //   /* //margin-top: 15%; */
      //   max-height: 174px;
      //   overflow: hidden;
      //   overflow-y: auto;
      //   border-radius: 0;
      // }

      /* // padding: 6px 6px; */
      // .mapDivLegend ul {
      //   list-style: none;
      //   padding-left: 0;
      //   margin-top: 3%;
      //   margin-bottom: 2%;
      // }

      // .mapDivLegend li a {
      //   padding-left: 3%;
      //   padding-right: 3%;
      //   color: var(--color-black);
      //   font-size: 0.8125rem;
      //   /* //font-family: "Montserrat-Regular"; */
      // }

      .mapactionbtn {
        
        -webkit-box-shadow: 0 0px 2px var(--leafletbox-shadow) !important;
        box-shadow: none !important;
        //background-color: var(--color-white);
        border: 0px solid var(--color-white);
        color: var(--text-font-color) !important;
        border-radius: 5px;
        border: 1px solid var(--sidebar-main-active-color) !important;
        padding: 4px 6px;
        border-radius: 5px;
        background-color: var(--sidebar-main-active-color) !important;
        color: var(--text-font-color) !important;
        cursor: pointer;
      }

      .leaflet-control {
        cursor: pointer;
      }

      .leaflet-left .leaflet-control-zoom {
        margin-top: 2px;
      }

      .leaflet-bar {
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        border-radius: 4px;
        border: 0px;
      }

      .leaflet-bar {
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        border-radius: 4px;
      }
    }
  }

  // .mapDivLegend {
  //   width: 110px;
  //   position: relative !important;
  //   bottom: 0px;
  //   left: 1px;
  //   height: 100%;
  //   // background: rgb(24 23 54);
  //   color: var(--color-black) !important;
  //   /* //margin-top: 15%; */
  //   max-height: 174px;
  //   overflow: hidden;
  //   overflow-y: auto;
  //   border-radius: 0;
  // }

  /* // padding: 6px 6px; */
  // .mapDivLegend ul {
  //   list-style: none;
  //   padding-left: 0;
  //   // margin-top: 3%;
  //   margin-bottom: 2%;
  // }

  // .mapDivLegend li a {
  //   padding-left: 3%;
  //   padding-right: 3%;
  //   color: var(--color-black);
  //   font-size: 0.8125rem;
  //   /* //font-family: "Montserrat-Regular"; */
  // }

  .mapactionbtn {
    position: absolute;
    top: 0;
    right: 0px;
    -webkit-box-shadow: 0 0px 2px var(--leafletbox-shadow) !important;
    box-shadow: 0 0px 2px var(--leafletbox-shadow) !important;
    background-color: var(--color-white);
    padding: 4px 8px;
    border: 0px solid var(--color-white);
    color: var(--text-font-color) !important;
    border-radius: 5px;
  }

  .leaflet-control {
    cursor: pointer;
  }

  .leaflet-control-layers-expanded {
    background: var(-dropdown-bg-color) !important;
    color: var(--subtext-font-color);
  }

  .leaflet-left .leaflet-control-zoom {
    margin-top: 2px;
  }

  .leaflet-bar {
    -webkit-box-shadow: 0 0px 2px var(--leafletbox-shadow) !important;
    box-shadow: 0 0px 2px var(--leafletbox-shadow) !important;
    border-radius: 4px;
    border: 0px;
  }

  .leaflet-bar {
    -webkit-box-shadow: 0 0px 2px var(--leafletbox-shadow) !important;
    box-shadow: 0 0px 2px var(--leafletbox-shadow) !important;
    border-radius: 4px;
  }

  .loctitles {
    display: flex;
    text-align: center;
    width: 185px;
    justify-content: space-between;
    margin-left: 5px;

    p {
      font-size: 9px;
      margin-bottom: 5px;
      color: var(--collapsebtn-items);
    }
  }

  .lorem-col {
    text-align: end;
  }

  .legend {
    background-color: var(--chart-container-color);
    font-size: var(--font-size-small-text);
    width: 130px;
    border-radius: 10px;
    padding: 9px;
    color: var(--fonts-white-shade);

    .title {
      border-bottom: 0.1px solid var(--border-grey-color);
      padding-bottom: 2px;
    }

    .item {
      padding-top: 2px;
    }
  }
}

.mapIndiBg{
  height: 100vh !important;
  padding-top: 41px !important;
  padding-bottom: 0px !important;
  
  #bubblemap,.map_cardBody,.dashboardchart-container.mapheight .card{
    
     .btn-secondary {
          color: var(--text-color);
          box-shadow: none !important;
      }
  }

  .dashboardchart-container.mapheight .card .map-dropdown .btn-secondary{
    background-color: transparent !important;
    border-color: transparent !important;
    width: 45px;
  }

  .dashboardchart-container.mapheight .card .btn-secondary{
      background-color: var(--sidebar-main-active-color) !important;
      border-color: var(--sidebar-main-active-color) !important;
  }

         
  #bubblemap,.map_cardBody,.dashboardchart-container.mapheight .card{
      background-color: var(--bg-main-color) !important;      
  }

  .searchbox{
      border-bottom: 1px solid var(--border-grey-color) !important;
  }     

}

.mapindi .toggleLegend{
  height: 48px !important;
}

.map-container.fp-map .leaflet-top.leaflet-right,
.leaflet-bottom.leaflet-left,.leaflet-top.leaflet-right,
.leaflet-bottom.leaflet-right{
    z-index: 100 !important;
}

.mapDropdown{
  background-color: var(--map-elements-bg-color);
  border: none;
}

.map-container .map .l-map .play-content .btn-group > .btn:nth-child(3),.map-container .map .l-map .play-content .btn-group > .btn:first-child,.map-container .map .l-map .play-content .btn-group > .btn:nth-child(2){
  width: 38px !important;
}

.map-section{
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

.leaflet-pane{
  z-index: 1  !important;
}

.inputInExp{
  height: 10px;
  width: 10px;
}


#legend .select-wrapper.mapindi:after {
  top: 5px;
}


.toggleLegend.legendarrow{
  padding: 4px !important;
}

#legend .select-wrapper.legarrow:after {
  top: 2px;
}

      
.map-btn1{
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: var(--sidebar-main-active-color) !important;
    border-color: var(--sidebar-main-active-color);
    display: flex;
    justify-content: center;
    align-items: center;
        span{
            letter-spacing: 0.8px;
            color: var(--main-font-color);
            opacity: 1;
            font-size: 14px;
        }
}

.map-btn2{
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: var(--sidebar-main-active-color)!important;
    border-color: var(--sidebar-main-active-color);
     display: flex;
    justify-content: center;
    align-items: center;

    span{
        letter-spacing: 0.8px;
        color: var(--main-font-color);
        opacity: 1;
        font-size: 14px;
    }
}


.map-firstitem {
    background: transparent;
    opacity: 1;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    padding-left: 8% !important;
    text-align: left;
    word-wrap: break-word;
    padding: 2px;
    // margin: 10px 0!important;
    transition: all .5s;
    display: flex;
    align-items: center;
    font-size: 13px!important;

}

.map-firstitem:active{
  background-color: var(--active-option-liner-gradient-color) !important;
}

.map-newicons {
    justify-content: center;
    align-items: center;
  img{
      width:16px;
      height: 16px;
    
  }
  
  .map-dropdown .dropdown-menu{
      background-color: var(--export-btn-color) !important;
      padding: 16%;
  }
  
}
    
.map-contain{
      display: flex;
      justify-content: flex-end;
      align-items: center;
}
 
.map-container .map .l-map .leaflet-bar a{
    background-color: var(--sidebar-main-active-color) !important;
}

.mapping-section{
    margin: -19px !important;
}


// responsive css

@media only screen and (min-width: 1920px) {
  .map-container {
    .map-country {
      font-size: var(--font-medium) !important;
      color: var(--innertext-font-color) !important;
    }
  }
}

@media only screen and (max-width: 1345px) {
  .play-content {
    .btn-group>.btn:first-child {
      width: 40px !important;
    }

    .btn-group>.btn:nth-child(2) {
      width: 40px !important;
    }

    .btn-group>.btn:nth-child(3) {
      width: 40px !important;
    }

    .btn-group>.btn:last-child {
      width: 113px;
    }
  }

  #legend {
    margin-bottom: 50px;
  }
}
