.report {
  margin-left: 218px;
  height     : calc(100vh - 77px);
}

.report-container {
  background-color: var(--bg-main-color) !important;
  height          : 100%;
  overflow-y      : auto;
  overflow-x      : hidden;
  border-radius   : 10px;
}

.title-report-card {
  color           : var(--text-color);
  // background-color: var(--chart-container-color);
}

.heading {
 
  color                  : var(--color-white);
  font-size              : 14px
}

.sub-heading {
  background-color: var(--chart-body-color) !important;
  color           : var(--text-color);
  border-bottom   : 2px solid var(--new-header-color);
}

.chart-container-report {
  background-color          : var(--chart-body-color) !important;
  border-bottom-left-radius : 10px;
  border-bottom-right-radius: 10px;
}

.saved-report-card {
 
  height       : 100%;
  border-radius: 6px;
  text-align   : center;
  // color        : var(--font-white-color);
  font-weight  : 600;
  position     : relative;
  .img-title-flex {
    height: inherit;
  }
  .fw-400{
    font-weight: 400;
  }
  .card-details {
    margin-left  : 5px;
    margin-bottom: 2px;
    color: var(--sidebar-maincolor) !important;
  }
  .img-title-flex {

    // display: flex;
    // align-items: center;
    // justify-content: space-around;
    .saved-report-card-img-container {
      // flex: 1 1 50%;
      position: absolute;
      top     : 35%;
      // left    : 20%;
    }

    .saved-report-card-title {
      
      position  : absolute;
      top       : 3%;
      left      : 10%;
      // flex: 1 1 50%;
    }
  }

  .saved-report-card-img {
    width: 57px;
  }

  .saved-report-card-opt {
    display: none;

    .saved-report-card-title{
      display: none;
    }
  }

  &.red {
    background-color: var(--bg-red-color);
  }

  &.blue {
    background-color: var(--module-blue-border-color);
  }

  &.green {
    background-color: var(--bg-green-color);
  }
}

.saved-report-card:hover {
 
  display     : flex;
  // padding-left: 25px !important;
  font-size   : var(--font-small);
  font-weight : 100;
 

 .card-body{
  opacity: 0.1;
 }
  .saved-report-card-img-container,
  .saved-report-card-title {
    // display: none;
    opacity: 0.1;
  }

  .img-title-flex {
    .saved-report-card-title {
      // text-decoration: underline;
      // top            : 10px;
      // left           : 15px;
      
    
    }
  }

  .saved-report-card-opt {
    flex           : 1 1 69%;
    display        : flex !important;
    justify-content: space-around;
    align-items    : center;
  }

  .saved-report-card-opt-img {
    display        : flex;
    flex-direction : column;
    justify-content: space-between;
    align-items    : center;

    img {
      width: 14px;
    }
  }
}

.saved-report-card-border {
  border-bottom: 1px solid var(--border-grey-color);

  .card{
    height: 180px;
    // margin: 0.5rem 0px 1.2rem;
    color: var(--text-color);
    border-color: transparent !important;
    background-color: transparent !important;
    padding: 0px !important;
    border-radius: 11px !important;
    opacity: 0.7;
}
  

  .card-body{
    padding: 0px 10px 0px;
    background-color: var(--signoff-bottom-card);
    border-color: var(--signoff-bottom-card) !important;
    border-radius: 0px 0px 7px 7px !important;
   
  }

  .card-header{
    padding: 10px;
    height: 50px;
    background-color: var(--signoff-top-card);
    border: 1px sold var(--signoff-top-card);
    border-radius: 7px 7px 0px 0px !important;
  }

}


.report-mainsection{
  height: 428px;
  background-color: var(--bg-main-color) !important;
  
   
  .save-heading{
    margin-top: 70px !important;
  }
  
}

// responsive css
@media (max-width: 1024px) {
  .report {
    margin-left: 50px;
  }
}