.sidebar-newbody {
  

  #sidebar-2 {
    background-color: transparent !important;
    color           : var(--main-font-color) !important;
    font-size       : var(--font-size-chart-sidebar-heading);
    width           : auto;

    .sidebar {
      display       : flex;
      flex-direction: column;
      height        : calc(100vh - 164px) !important;
      overflow-y    : auto;
      overflow-x    : hidden;
      margin-top: 13px !important;

      .sidebar-item {
        background-color          : transparent;
        border-color              : transparent;
        width                     : 205px;
        text-align                : left;
        word-wrap                 : break-word;
        padding                   : 10px 10px;
        display                   : flex;
        margin                    : 10px 0 !important;
        font-size                 : var(--font-size-chart-sidebar-heading);
        border-top-right-radius   : 30px;
        border-bottom-right-radius: 30px;
        transition                : all 0.5s;
        display                   : flex;
        align-items               : center;
        position                  : relative;
        color: var(--sidebar-maincolor) !important;
        font-size: 13px !important;
        padding-left: 15px;
        

        &:hover,
        &:active,
        &:focus,
        &.focus,
        &:checked {
          background-color          : var(--active-option-liner-gradient-color) !important;
          border                    : 1px solid transparent;
          color                     : var(--sidebar-activecolor) !important;
        }

       
      }

      .subgroups{

        padding-left: 29px !important;
          &:hover,
          &:focus,
          &.focus,
          &:checked {
            background:  var(--sidebar-bg-color) !important;
          }
      }
      
      // active css
      .sidebar-item-active
       {
        background-color          : var(--active-option-liner-gradient-color) !important;
        border                    : 1px solid transparent;
        font-size                 : var(--font-size-chart-sidebar-heading);
        color                     : var(--sidebar-activecolor) !important;
       }

       .subgroups.sidebar-item-active{
        background: var(--sidebar-bg-color) !important;
        
      }

      .sidebar-sub-menu-option.subgroups-menu{
        margin-left      : 35px;
      }
      
      .sidebar-sub-menu-option {
        color: var(--sidebar-maincolor) !important;
        margin-left      : 20px;
        font-size        : var(--font-small);
        background       : transparent;
        border-color     : transparent !important;
        border-left-width: 3px;
        position         : relative;
        width            : 80%;
        text-align       : left;
        border-left      : 3px solid transparent;
        padding-left     : 2rem;
        
      }

      .sidebar-sub-menu-option:focus,
      .sidebar-sub-menu-option:hover {
        background-color : transparent !important;
        border-color     : transparent !important;
        border-left-color: var(--sidebar-border-left) !important;
        border-left-width: 3px;
        border-radius    : 0px;
        box-shadow       : none !important;
      }

      // active css
      .sidebar-item-active-option {
        background-color : transparent !important;
        border-color     : transparent !important;
        border-left-color: var(---sidebar-border-left) !important;
        border-left-width: 3px;
        border-radius    : 0px;
        border-left      : 3px solid var(--sidebar-border-left) !important;
        color: var(--sidebar-activecolor) !important;
      }
      
    }

    .collapse-delivery:after {
      content    : "\f107";
      font-family: "FontAwesome";
      position   : absolute;
      right      : 8px;
      transition : all 0.5s;
      transform: rotate(268deg);
    }

    .collapse-delivery.not-collapsed:after {
      content    : "\f107";
      font-family: "FontAwesome";
      position   : absolute;
      right      : 15px;
      transform  : rotate(2deg);
    }

    .collapsebtn {
      color         : var(--color-white);
      display       : flex;
      flex-direction: column;
      text-align    : left;
      margin-left   : 2rem;
      font-size     : var(--font-size-chart-sidebar-heading);

      .collapsebtn-item {
        background-color: transparent;
        border-color    : transparent;
        text-align      : left;
        font-size       : var(--font-size-p-small-text);
        color           : var(--collapsebtn-items);

        &.active {
          background-color : transparent !important;
          border-color     : transparent !important;
          border-left-color: var(--collapsebtn-active-border-color) !important;
          border-left-width: 3px;
          border-radius    : 0px;
        }
      }
    }

    .collapsebtn-item:focus {
      background-color: transparent !important;
      border-color    : transparent !important;
      box-shadow      : none !important;
    }

    .follow-us {
   
      font-size: 14px !important;
      color: var(--text-color);
      
      .fb-icon,
      .tweet-icon {
        width: 16px;
      }
    }
    
  }
}


// responsive css

@media (min-width: 1366px) {
  .sidebar-newbody {
    #sidebar-2 {
      width     : 250px;
      height    : calc(100vh - 130px) !important;
   

      .sidebar {
        height: calc(100vh - 167px) !important;

        padding-right: 18px;

        .sidebar-item {
          padding-left: 15px !important;
          font-size   : var(--font-small);
          width       : 227px;
         

        }

        .subgroups{
       
          padding-left: 29px !important;
            &:hover,
            &:active,
            &:focus,
            &.focus,
            &:checked {
             
              padding-left: 29px !important;
            }
          }

        .sidebar-item-active {        
          font-size   : var(--font-small);
        }

        
      }
    }

    .follow-us {
      font-size: var(--font-small);
      
    }

  }
}

@media (min-width: 1536px) {
  .sidebar-newbody {
    #sidebar-2 {
      width  : 250px;
      height : calc(100vh - 140px) !important;
      z-index: 10;

      .sidebar {
        height: calc(100vh - 165px) !important;

        padding-right: 18px;

        .sidebar-item {
          padding-left: 15px !important;
          font-size   : var(--font-medium);
          width       : 227px;
       

        }
        .subgroups{
        
          padding-left: 29px !important;
            &:hover,
            &:active,
            &:focus,
            &.focus,
            &:checked {
             
              padding-left: 29px !important;
            }
          }


        .sidebar-item-active {
          font-size   : var(--font-medium);
          
        }
      
      }
    }

    .follow-us {
      font-size: var(--font-medium);
   
    }

   
  }
}

@media (min-width: 1920px) {
  .sidebar-newbody {
    #sidebar-2 {
      width : 306px;
      height: calc(100vh - 140px) !important;

      .sidebar {
        height: calc(100vh - 165px) !important;

        padding-right: 25px;

        .sidebar-item {
          font-size   : var(--font-sidebar);
          width       : 250px;
  

        }

        .subgroups{
         
            &:hover,
            &:active,
            &:focus,
            &.focus,
            &:checked {
             
              padding-left: 29px !important;
            }
          }
        

        .sidebar-item-active {
          font-size   : var(--font-sidebar);
        
        }
      }
    }

    .follow-us {
      font-size: var(--font-sidebar);
    
    }

   
  }
}

@media only screen and (min-device-width: 1025px) {
  #sidebar-2 {
    display   : block !important;
    
    margin-top: 53px;

    .sidebar {
      height: calc(100vh - 250px) !important;
    }

    .b-sidebar-header {
      display: none;
    }

    .close {
      visibility: hidden;
    }
  }

  
  

}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  #sidebar-2 {
    
    height: calc(100vh - 140px) !important;

    .b-sidebar-header {
      .close {
        color           : var(--export-btn-color);
        background-color: var(--color-white);
        margin-top      : 10px;
        margin-right    : 10px;
        border-radius   : 50%;
      }

    }

    .social-icons {
      position: fixed;
      bottom  : 30px;
      left    : 39px;

    }
  }
}


