.sidebar-body {
    background-color: var(--primary-bg-color);
    color           : var(--color-white);
    height          : 90vh;
    display         : flex;
    flex-direction  : column;
    justify-content : space-between;
    width           : 220px;
    position        : absolute;
    left            : 0;
    font-size       : var(--font-size-chart-sidebar-heading);

    .sidebar {
        display       : flex;
        flex-direction: column;
        height        : calc(100vh - 150px) !important;
        overflow-y    : auto;
        overflow-x    : hidden;


        .sidebar-item {
            background-color          : transparent;
            border-color              : transparent;
            width                     : 205px;
            text-align                : left;
            word-wrap                 : break-word;
            padding                   : 10px 10px;
            display                   : flex;
            margin                    : 10px 0 !important;
            font-size                 : var(--font-size-chart-sidebar-heading);
            //color                     : var(--fonts-white-shade);
            border-top-right-radius   : 30px;
            border-bottom-right-radius: 30px;
            transition                : all .5s;
            display                   : flex;
            align-items               : center;
            color: #CCCBDF;


            &:hover,
            &:active,
            &:focus,
            &.focus,
            &:checked {
                color           : var(--color-white);
                background-color: transparent !important;
                border-color    : transparent !important;
                box-shadow      : none !important;
            }

            // .side-icon {
            //     width: 38px;
            // }

        }

        .sidebar-item-active {
            background                : var(--active-option-liner-gradient-color);
            border                    : 1px solid transparent;
            padding                   : 10px 10px;
            border-top-right-radius   : 30px;
            border-bottom-right-radius: 30px;
            font-size                 : var(--font-size-chart-sidebar-heading);

            &:hover {
                background                : var(--active-option-liner-gradient-color);
                border                    : 1px solid transparent;
                padding                   : 10px 10px;
                border-top-right-radius   : 30px;
                border-bottom-right-radius: 30px;
            }
        }
    }
    .sidebar .sidebar-fav .sidebar-item:hover {
        background                : var(--active-option-liner-gradient-color);
        border                    : 1px solid transparent;
        padding                   : 10px 10px;
        border-top-right-radius   : 30px;
        border-bottom-right-radius: 30px;
    }

    .collapse-delivery:after {
        content    : "\f107";
        font-family: "FontAwesome";
        position   : absolute;
        right      : 15px;
        transition : all .5s;
    }

    .collapse-delivery.not-collapsed:after {
        content    : "\f107";
        font-family: "FontAwesome";
        position   : absolute;
        right      : 15px;
        transform  : rotate(180deg);
    }



    .collapsebtn {
        color         : var(--color-white);
        display       : flex;
        flex-direction: column;
        text-align    : left;
        margin-left   : 2rem;
        font-size     : var(--font-size-chart-sidebar-heading);


        .-itemcollapsebtn {
            background-color: transparent;
            border-color    : transparent;
            text-align      : left;
            font-size       : var(--font-size-p-small-text);
            color           : var(--collapsebtn-items);

            &.active {
                background-color : transparent !important;
                border-color     : transparent !important;
                border-left-color: var(--collapsebtn-active-border-color) !important;
                border-left-width: 3px;
                border-radius    : 0px;
            }
        }

    }

    .collapsebtn-item:focus {
        background-color: transparent !important;
        border-color    : transparent !important;
        box-shadow      : none !important;
    }

    .b-sidebar {
        display         : block !important;
        background-color: transparent !important;
        width           : 220px;
        height          : auto;
        margin-top      : 60px; //check with maam
    }

    .b-sidebar-outer {
        top: 20px;
    }

    .b-sidebar-header {
        display: none;
    }

    .b-sidebar:not(.b-sidebar-right)>.b-sidebar-header .close {

        visibility: hidden;
    }

    .b-sidebar>.b-sidebar-header {
        display: none;
    }

    .b-sidebar>.b-sidebar-body {

        height: auto;

    }

    .social-icons {

        z-index: 9;

        .follow-us {
            font-size: var(--font-size-chart-sidebar-heading);
        }

        .fb-icon {
            width: 20px;
        }

        .tweet-icon {
            width: 20px;
        }
    }

    .social {
        display        : flex;
        justify-content: space-evenly;
        align-items    : flex-start;
    }


}

