.summary-page-container {
  background-color: var(--bg-main-color);
  min-height: calc(100vh - 120px);
}

.summary-title {
  font-size: var(--font-small);
}

.summary-card-bg {
  background-color: var(--primary-bg-color);
  border-radius: 10px;
}

.performance-in-card {
  background-color: var(--sidebar-main-active-color);
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
}

.summary-dot {
  height: 60px !important;
  width: 60px !important;
  border-radius: 100%;
  background-color: var(--border-blue-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-p-normal-text) !important;
  font-weight: 700;
  margin: 0 auto;

  p{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
  }

  .big-number{
    font-size: 14px !important;
  }

  .biggest-number{
    font-size: 12px !important;
  }

  &.red {
    background-color: var(--bg-red-color) !important;
  }

  &.green {
    background-color: var(--bg-green-color) !important;
  }

  &.orange {
		background-color: var(--orange-color) !important;
	}
}

.view-more-btn {
  margin-top: -11px;
}

.summary-view-more-btn {
  background-color: var(--sidebar-main-active-color) !important;
  border: 3px solid var(--sidebar-main-active-color);
  border-radius: 5px !important;
  color: var(--light-white-btn-color) !important;
  text-align: center !important;
  font-size: var(--font-small);
  float: right;
  // box-shadow: var(--primary-bg-color) !important;
}

.summary-view-more-btn:hover {
  background-color: var(--sidebar-main-active-color) !important;
  border: 3px solid var(--sidebar-main-active-color);
}

.summary-view-more-btn:focus,
.summary-view-more-btn:active{
  background-color: var(--sidebar-main-active-color) !important;
  border: 3px solid var(--sidebar-main-active-color);
}

.emu-status,
.from-last-year {
  font-size: var(--font-small);
}

.emu-status{
  overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
}
.emu-read{
  font-size: var(--font-small);
}

.readMoreBtn{
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid var(--text-font-color);
  background-color: transparent !important;
  font-size: 10px !important;
  color: var(--light-white-btn-color);
  font-weight: 300 !important;
}

span {
  &.green {
    color: var(--bg-green-color);
  }

  &.red {
    color: var(--bg-red-color);
  }

  &.orange {
    color: var(--orange-color) !important;
  }
}

.indicatorSectionWrap {
  margin-top: -70px !important;
  .card {
    border: 1px solid transparent !important;
    background: transparent !important;
  }

  .mainHeader {
    padding-bottom: 0px !important;
    // background: #181736;
    background-color: transparent !important;
    border-bottom: transparent !important;

    h6 {
      margin-bottom: 0 !important;
      font-size: 18px!important;
      padding-top: 15px !important;
      width: 102% !important;
      border-top: 1px solid transparent !important;
    }
  }

  
}

.summary-section .card-body{
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.summary-section{
  .text-center.no-data-error-msg{
    border-color: transparent !important;
  }
}

.summarypage-nomap .text-center{
  color: var(-sidebar-maincolor) !important;
  font-size: 18px !important;
  padding-top:5px !important;
  padding-bottom: 5px !important;
  margin-bottom: 25px !important;
  border-radius: 5px !important;
  border: 1px solid var(--border-grey-color) !important;
  
}


.summarydashboard-page .indicatorCardBody{
  border: 1px solid transparent !important;
}

.summary-highchart1-header {
  background-color: transparent !important;
}

.no-data-error-msg {
  font-size: var(--font-small);
  color    : var(--main-font-color);
}

