.summary-page {
	// background-color: var(--chart-container-color);
	color: var(--fonts-white-shade);
	display: flex;
	flex-direction: column;
	// height: calc(100vh - 120px);
	overflow-y: auto;
	overflow-x: hidden;
	border-radius: 10px;
  	// margin-top: 55px !important;

	.indicator-name{
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 1;
		-webkit-box-orient: vertical;
	}

	// .summary-key{
	// 	.b-overlay{
	// 		max-height: 200px;
	// 	}
	// }
}

.equalTosign{
    height: 15px;
}

.summary-body {
	padding-bottom: 15px;
	border-bottom: 2px solid var(--border-color);
	color: var(--fonts-white-shade);
}

.summary-heading {
	padding-bottom: 8px;
	border-bottom: 2px solid var(--border-color);
	font-size: var(--font-size-chart-sidebar-heading);
	color: var(--fonts-white-shade);
	display: flex;
	align-items: center;
}

.summary-heading-title {
	text-overflow: ellipsis;
	overflow: hidden;
	display: -webkit-box !important;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	white-space: normal;
	font-size: var(--font-size-chart-sidebar-heading);
}

.summary-vertical-tag p {
	max-width: 160px;
	padding-top: 8px;
	font-size: var(--font-size-p-small-text);
	font-family: var(--body-font-family);
	color: var(--innertext-font-color) !important;
}

.summary-horizontal-tag {
	padding-top: 8px;
	text-align: center;
	font-size: var(--font-size-p-small-text);
	color: var(--innertext-font-color) !important;
}

// analytical css - orange

.summary {
	&.wide {
		.summary-wide-row {
			border-radius: 10px;
			background-color: var(--chart-container-color);
			padding: 24px !important;
			height: 90vh;
			overflow-y: auto;

			.summary-charts-col {
				order: 2;
				padding-right: 0;

				.card-body {
					padding-left: 0;
					padding-right: 0;
				}

				.summary-highchart-container,
				.analytic-charts {
					height: auto !important;
				}
			}

			.summary-content-col {
				order: 1;

				.summary-page {
					height: auto !important;
					border-radius: 10px;

					.summary-vertical-tag p {
						max-width: fit-content;
					}

					.summary-body {
						padding-top: 10px;
					}
				}
			}
		}
	}
}

.btn-info,.btn-info:hover{
	color: var(--text-color);
    background: transparent !important;
    border-color: transparent;
	text-align: left;
}



// responsive css

@media (min-width: 768px) and (max-width: 1024px) {
	
	.analytic-charts {
		display: flex;
		flex-direction: column;
		height: auto !important;
		overflow-y: auto;
	}

	.summary {
		margin-left: 0px !important;
	}
}

@media (min-width: 1366px) {
	.anc {
		margin-left: 250px !important;
		margin-top: 59px;
	}
}

@media (min-width: 1536px) {
	.summary,
	.anc {
		margin-left: 250px !important;
		margin-top: 59px;
	}
}

@media (min-width: 1920px) {
	.summary,
	.anc {
		margin-left: 306px !important;
		margin-top: 59px;
	}

	.summary-heading-title,
	.summary-view-more-btn,
	.summary-horizontal-tag,
	.summary-vertical-tag p {
		font-size: var(--font-medium);
		color: var(--innertext-font-color) !important;
	}

	.summary-body {
		padding-right: 25px;
	}

	.summary-dot {
		p {
			font-size: var(--font-medium);
		}

		.big-number{
			font-size: 14px !important;
		}

		.biggest-number{
			font-size: 12px !important;
		}

		.bigger-number {
			font-size: 8px !important;
		  }
	}
}


@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
	.summary-highchart-container {
		height: auto !important;
		overflow-y: hidden;
	}
	.summary-page {
		height: auto !important;
	}
}

@media only screen and (max-device-width: 1024px) {
	.summary-page {
		margin-left: 4rem;
	}
}
